### 프로그래머스 1단계 101~

---------------------

### 101. 평균 구하기

정수를 담고 있는 배열 arr의 평균값을 return하는 함수, solution을 완성해보세요.

In [2]:
arr=[1,2,3,4]
print(sum(arr) / len(arr))

2.5

### 102. 약수의 합

정수 n을 입력받아 n의 약수를 모두 더한 값을 리턴하는 함수, solution을 완성해주세요.

In [4]:
n=12
sum([i for i in range(1, n+1) if n%i == 0])

28

### 103. 짝수와 홀수

정수 num이 짝수일 경우 "Even"을 반환하고 홀수인 경우 "Odd"를 반환하는 함수, solution을 완성해주세요.

In [ ]:
if num%2 == 1 :
    return "Odd"
else :
    return "Even"

------------------------

# 22.12.13

### 104. 자릿수 더하기

자연수 N이 주어지면, N의 각 자릿수의 합을 구해서 return 하는 solution 함수를 만들어 주세요.
예를들어 N = 123이면 1 + 2 + 3 = 6을 return 하면 됩니다.

In [3]:
N=116214

sum([int(i) for i in str(N)])

15

### 105. 자연수 뒤집어 배열로 만들기

자연수 n을 뒤집어 각 자리 숫자를 원소로 가지는 배열 형태로 리턴해주세요. 예를들어 n이 12345이면 [5,4,3,2,1]을 리턴합니다.

In [5]:
n=12345

[int(i) for i in str(n)[::-1]]

[5, 4, 3, 2, 1]

### 106. 정수 제곱근 판별

임의의 양의 정수 n에 대해, n이 어떤 양의 정수 x의 제곱인지 아닌지 판단하려 합니다.
n이 양의 정수 x의 제곱이라면 x+1의 제곱을 리턴하고, n이 양의 정수 x의 제곱이 아니라면 -1을 리턴하는 함수를 완성하세요.

In [21]:
n=121

def solution(n):
    if (n**0.5).is_integer() == True :
        return (n**0.5+1)**2
    else :
        return -1
    
solution(121)

144.0

In [22]:
#타 코
def nextSqure(n):
    return n == int(n**.5)**2 and int(n**.5+1)**2 or 'no'

#if else 를 간단하게 나타낸거같은데 무슨원린지 잘모르겠다!>>> 221213 TIL에 정리

### 107. 문자열 내 p와 y의 개수

대문자와 소문자가 섞여있는 문자열 s가 주어집니다. s에 'p'의 개수와 'y'의 개수를 비교해 같으면 True, 다르면 False를 return 하는 solution를 완성하세요. 'p', 'y' 모두 하나도 없는 경우는 항상 True를 리턴합니다. 단, 개수를 비교할 때 대문자와 소문자는 구별하지 않습니다.

예를 들어 s가 "pPoooyY"면 true를 return하고 "Pyy"라면 false를 return합니다.

In [33]:
s = "pPoooyY"
count_p =0
count_y =0
for i in s.lower() :
    if i=='p' :
        count_p+=1
    elif i=='y' :
        count_y+=1
if count_p == count_y :
    print('true')
else :
    print('false')
    
print(count_p)
print(count_y)

true
2
2

In [30]:
#(count_p += 1) for i in s.lower() if i=='p'

SyntaxError: invalid syntax (111825919.py, line 1)

In [ ]:
#타 코
s.lower().count('p') == s.lower().count('y')
# 아니.. count함수 쓰면 되는것을 뭐했니

### 108. x만큼 간격이 있는 n개의 숫자

함수 solution은 정수 x와 자연수 n을 입력 받아, x부터 시작해 x씩 증가하는 숫자를 n개 지니는 리스트를 리턴해야 합니다. 다음 제한 조건을 보고, 조건을 만족하는 함수, solution을 완성해주세요.

In [56]:
x=0

n=3

for i in range(x,x*n+1,x):
    print(i)

ValueError: range() arg 3 must not be zero

In [58]:
if x < 0 :
    print([-i for i in range(abs(x),abs(x)*n+1,abs(x))])
elif x == 0 :
    print([0 for i in range(n)])

else :
    print([i for i in range(x,x*n+1,x)])

[0, 0, 0]

In [41]:
for i in range(0,-100,-4):
    print(i)

0
-4
-8
-12
-16
-20
-24
-28
-32
-36
-40
-44
-48
-52
-56
-60
-64
-68
-72
-76
-80
-84
-88
-92
-96

In [42]:
[-4, -3]  = [-3, -4]

SyntaxError: cannot assign to operator (2480293739.py, line 1)

In [ ]:
n=5
x=2

for i in range(n):

In [59]:
#타코 
def number_generator(x, n):
    # 함수를 완성하세요
    return [i * x + x for i in range(n)]
#굉장하다..

In [60]:
number_generator(2, 5)

[2, 4, 6, 8, 10]

In [62]:
number_generator(-4, 2)

[-4, -8]

--------------------

### 109. 문자열을 정수로 바꾸기

문자열 s를 숫자로 변환한 결과를 반환하는 함수, solution을 완성하세요.

In [17]:
num= "1234"
int(num)

1234

In [16]:
ret=1


for i in num[::-1]:
    # print(i)
    # ret += i*(num.index(i))
    print(num.index(i))
    
    # if i=='-':
        #ret * -1

3
2
1
0

In [ ]:
#큰일이다.. eval이 좋아지기 시작했다..ㄷㄷ

### 110. 하샤드 수

양의 정수 x가 하샤드 수이려면 x의 자릿수의 합으로 x가 나누어져야 합니다. 예를 들어 18의 자릿수 합은 1+8=9이고, 18은 9로 나누어 떨어지므로 18은 하샤드 수입니다. 자연수 x를 입력받아 x가 하샤드 수인지 아닌지 검사하는 함수, solution을 완성해주세요.

In [24]:
arr = 10

sum([int(i) for i in str(arr)])

1

In [ ]:
return arr % sum([int(i) for i in str(arr)])

In [25]:
return True if arr % sum([int(i) for i in str(arr)]) == 0 else False

SyntaxError: 'return' outside function (2897421804.py, line 1)

In [ ]:
# return문 안에서 if else 쓰는거 형식 잘 봐두자!

### 111. 정수 내림차순으로 배치하기

함수 solution은 정수 n을 매개변수로 입력받습니다. n의 각 자릿수를 큰것부터 작은 순으로 정렬한 새로운 정수를 리턴해주세요. 예를들어 n이 118372면 873211을 리턴하면 됩니다.

In [29]:
n = 118372

int("".join(sorted(str(n), reverse=True)))

873211

In [ ]:
#print보면서 한줄로 만들어버리기!

#타코보면서 sort()도 reverse=True가 똑같은 형식으로 된다는 걸 알았다!

### 112. 나머지가 1이 되는 수 찾기

자연수 n이 매개변수로 주어집니다. n을 x로 나눈 나머지가 1이 되도록 하는 가장 작은 자연수 x를 return 하도록 solution 함수를 완성해주세요. 답이 항상 존재함은 증명될 수 있습니다.

In [42]:
n=10

[i for i in range(1,n) if (n-1)%i==0][-1]

9

In [43]:
for i in range(1, 10-1):
    print(i)

1
2
3
4
5
6
7
8

In [44]:
#전혀 다르게 풀고 있었다. 문제를 잘 읽자!
for i in range(1,n):
        if n%i == 1:
            answer =i
            break

### 113. 두 정수 사이의 합

두 정수 a, b가 주어졌을 때 a와 b 사이에 속한 모든 정수의 합을 리턴하는 함수, solution을 완성하세요.
예를 들어 a = 3, b = 5인 경우, 3 + 4 + 5 = 12이므로 12를 리턴합니다.

In [54]:
a=3
b=55

if sum([i for i in range(a,b+1)]) == 0:
    print(sum([i for i in range(b,a+1)]))
else :
    print(sum([i for i in range(a,b+1)]))

1537

In [55]:
#타 코

#abs 나 min, max를 써서 해결~

--------------------