##### 28. 방 배정

In [7]:
n, k = map(int, input().split(' ')) # 수학여행 참가자 수, 한 방 최대 배정 인원수

In [8]:
print(n, k)

3 3

In [28]:
student = [[0] * 7 for _ in range(3)]
for _ in range(n):
    s, y = map(int, input().split(' '))
    student[s][y] += 1

In [29]:
print(student)

[[0, 0, 0, 1, 0, 0, 1], [0, 0, 0, 0, 0, 1, 0], [0, 0, 0, 0, 0, 0, 0]]

In [30]:
student[0][3]

1

In [33]:
import math

room = 0
for i in student:
    # print(i)
    for j in i:
        # print(j)
        room += math.ceil(j / k)
print(room)

3

##### 29. 자동문

In [34]:
5
2.699 1.356 3.711
4.254 1.479 3.948
1.214 2.681 4.982
1.674 1.197 2.647
1.506 2.383 3.577

SyntaxError: invalid syntax (1047016464.py, line 2)

In [52]:
3.711 *(2.699 / 1.356)

7.38642256637168

In [67]:
distance = round(((2.699 * 2 / 1.356)**0.5) * 3.711, 2)
print("%.2f" % distance)

7.40

In [69]:
t = int(input())

for _ in range(t):
    L, a, v = map(float, input().split(' '))
    distance = round(((L * 2 / a)**0.5) * v, 2)
    print("%.2f" % distance)

7.40
9.47
4.74
4.43
4.02

##### 30. 동명이인

In [1]:
4 fred
sam
fredy
fredi
ilium

SyntaxError: invalid syntax (3847389548.py, line 1)

In [7]:
name_list = ['sam', 'fredy', 'fredi', 'ilium']
s = 'fred'
n = len(name_list)

In [9]:
cnt = 0
for i in range(n):
    if s in name_list[i]:
        cnt += 1
print(cnt)

2

In [12]:
n, s = input().split(' ')

name_list = []
for _ in range(int(n)):
	name_list.append(input())

cnt = 0
for i in range(int(n)):
    if s in name_list[i]:
        cnt += 1
print(cnt)

2