In [1]:
import pandas as pd

In [54]:
mpg = pd.read_csv('mpg.csv')

In [55]:
mpg.head(1)

  manufacturer model  displ  year  cyl     trans drv  cty  hwy fl category
0         audi    a4    1.8  1999    4  auto(l5)   f   18   29  p  compact

In [56]:
mpg[mpg['fl'] =='p']

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
5,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact
6,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
7,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact
8,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact
9,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact
10,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact
11,audi,a4 quattro,2.8,1999,6,auto(l5),4,15,25,p,compact
12,audi,a4 quattro,2.8,1999,6,manual(m5),4,17,25,p,compact
13,audi,a4 quattro,3.1,2008,6,auto(s6),4,17,25,p,compact
14,audi,a4 quattro,3.1,2008,6,manual(m6),4,15,25,p,compact
15,audi,a6 quattro,2.8,1999,6,auto(l5),4,15,24,p,midsize
16,audi,a6 quattro,3.1,2008,6,auto(s6),4,17,25,p,midsize
17,audi,a6 quattro,4.2,2008,8,auto(s6),4,16,23,p,midsize
23,chevrolet,corvette,5.7,1999,8,manual(m6),r,16,26,p,2seater
24,chevrolet,corvette,5.7,1999,8,auto(l4),r,15,23,p,2seater
25,chevrolet,corvette,6.2,2008,8,manual(m6),r,16,26,p,2seater
26,chevrolet,corvette,6.2,2008,8,auto(s6),r,15,25,p,2seater
27,chevrolet,corvette,7.0,2008,8,manual(m6),r,15,24,p,2seater
98,ford,mustang,5.4,2008,8,manual(m6),r,14,20,p,subcompact
102,honda,civic,1.6,1999,4,manual(m5),f,23,29,p,subcompact
107,honda,civic,2.0,2008,4,manual(m6),f,21,29,p,subcompact
129,jeep,grand cherokee 4wd,6.1,2008,8,auto(l5),4,11,14,p,suv
130,land rover,range rover,4.0,1999,8,auto(l4),4,11,15,p,suv
133,land rover,range rover,4.6,1999,8,auto(l4),4,11,15,p,suv
135,lincoln,navigator 2wd,5.4,1999,8,auto(l4),r,11,16,p,suv
145,nissan,altima,3.5,2008,6,manual(m6),f,19,27,p,midsize
146,nissan,altima,3.5,2008,6,auto(av),f,19,26,p,midsize
149,nissan,maxima,3.5,2008,6,auto(av),f,19,25,p,midsize
152,nissan,pathfinder 4wd,4.0,2008,6,auto(l5),4,14,20,p,suv
153,nissan,pathfinder 4wd,5.6,2008,8,auto(s5),4,12,18,p,suv
155,pontiac,grand prix,3.8,1999,6,auto(l4),f,16,26,p,midsize
158,pontiac,grand prix,5.3,2008,8,auto(s4),f,16,25,p,midsize
162,subaru,forester awd,2.5,2008,4,manual(m5),4,19,25,p,suv
164,subaru,forester awd,2.5,2008,4,auto(l4),4,18,23,p,suv
169,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,25,p,compact
171,subaru,impreza awd,2.5,2008,4,manual(m5),4,19,25,p,compact
209,volkswagen,gti,2.0,2008,4,manual(m6),f,21,29,p,compact
210,volkswagen,gti,2.0,2008,4,auto(s6),f,22,29,p,compact
215,volkswagen,jetta,2.0,2008,4,auto(s6),f,22,29,p,compact
216,volkswagen,jetta,2.0,2008,4,manual(m6),f,21,29,p,compact
227,volkswagen,passat,1.8,1999,4,manual(m5),f,21,29,p,midsize
228,volkswagen,passat,1.8,1999,4,auto(l5),f,18,29,p,midsize
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [57]:
mpg[mpg['fl'] =='r']

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
18,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
20,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
21,chevrolet,c1500 suburban 2wd,5.7,1999,8,auto(l4),r,13,17,r,suv
22,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv
28,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,14,19,r,suv
...,...,...,...,...,...,...,...,...,...,...,...
220,volkswagen,jetta,2.8,1999,6,manual(m5),f,17,24,r,compact
223,volkswagen,new beetle,2.0,1999,4,manual(m5),f,21,29,r,subcompact
224,volkswagen,new beetle,2.0,1999,4,auto(l4),f,19,26,r,subcompact
225,volkswagen,new beetle,2.5,2008,5,manual(m5),f,20,28,r,subcompact
226,volkswagen,new beetle,2.5,2008,5,auto(s6),f,20,29,r,subcompact

In [58]:
mpg.groupby((mpg['fl']=='p') | (mpg['fl']=='r'))['cty'].mean()

fl
False    16.428571
True     16.886364
Name: cty, dtype: float64

In [59]:
mpg1=mpg.groupby(mpg['fl'])[['cty']].mean().iloc[-2:]

In [60]:
mpg1=mpg1.reset_index()

In [61]:
mpg1

  fl        cty
0  p  17.365385
1  r  16.738095

In [66]:
mpg1['n']=len(mpg[mpg['fl']=='p'])

In [67]:
mpg1

  fl        cty   n
0  p  17.365385  52
1  r  16.738095  52

In [74]:
len(mpg[mpg['fl']=='p'])

52

In [79]:
mpg1['n'][0] =len(mpg[mpg['fl']=='p'])

C:\Users\jjanw\AppData\Local\Temp\ipykernel_13912\4032645816.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mpg1['n'][0] =len(mpg[mpg['fl']=='p'])

In [77]:
mpg1

  fl        cty   n
0  p  17.365385  52
1  r  16.738095  52

In [78]:
len(mpg[mpg['fl']=='r'])

168

In [80]:
mpg1['n'][1] =len(mpg[mpg['fl']=='r'])

C:\Users\jjanw\AppData\Local\Temp\ipykernel_13912\667393583.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mpg1['n'][1] =len(mpg[mpg['fl']=='r'])

In [81]:
mpg1

  fl        cty    n
0  p  17.365385   52
1  r  16.738095  168

----------------------