로또복권사이트에서 1등배출점 을 크롤링하라.

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
url = 'https://dhlottery.co.kr/store.do?method=topStore&pageGubun=L645'

In [6]:
req = requests.get(url)
html = req.text
soup = BeautifulSoup(html, 'html.parser')

In [7]:
soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr:nth-child(1) > td:nth-child(2)')

In [8]:
name =soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(2)')

In [15]:
name[0]

In [13]:
way = soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(3)')

In [14]:
where = soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(4)')

In [19]:
where

[<td>서울 구로구 구로동로 72 </td>,
 <td>서울 송파구 올림픽로 269 잠실역 8번출구 앞 가판</td>,
 <td>부산 동구 범일로90번길 6-1 1층</td>,
 <td>인천 남동구 구월남로 212  동원프라자 101호</td>,
 <td>인천 중구 연안부두로53번길 36 5호</td>,
 <td>광주 광산구 수등로 253 1층 알리바이</td>,
 <td>경기 남양주시 진건오남로 112-1 동양할인마트 앞 로또판매점</td>,
 <td>경기 부천시 소사로794번길 6 </td>,
 <td>경기 부천시 석천로177번길 11 제이클래스중동 1층 105호</td>,
 <td>경기 양주시 옥정동로5길 6 </td>,
 <td>충북 청주시 상당구 단재로 119,(영운동) </td>,
 <td>충남 천안시 서북구 불당21로 40 501동 지1층 B143호</td>,
 <td>전북 익산시 동서로61길 41 현대아파트1층108호</td>,
 <td>전남 나주시 나주로 142 알리바이</td>,
 <td>전남 나주시 나주로 142 알리바이</td>,
 <td>제주 서귀포시 상모로 326 </td>]

In [20]:
data = []
for i in range (len(way)):
    temp=[]
    temp.append(name[i].text)
    temp.append(way[i].text.strip())
    temp.append(where[i].text)
    data.append(temp)

In [21]:
data

[['복권마을', '반자동', '서울 구로구 구로동로 72 '],
 ['잠실매점', '자동', '서울 송파구 올림픽로 269 잠실역 8번출구 앞 가판'],
 ['당첨로또', '자동', '부산 동구 범일로90번길 6-1 1층'],
 ['위너로또', '자동', '인천 남동구 구월남로 212  동원프라자 101호'],
 ['라이프마트', '자동', '인천 중구 연안부두로53번길 36 5호'],
 ['알리바이', '자동', '광주 광산구 수등로 253 1층 알리바이'],
 ['토큰박스', '자동', '경기 남양주시 진건오남로 112-1 동양할인마트 앞 로또판매점'],
 ['은미복권방', '자동', '경기 부천시 소사로794번길 6 '],
 ['로또대박', '자동', '경기 부천시 석천로177번길 11 제이클래스중동 1층 105호'],
 ['대박명당', '자동', '경기 양주시 옥정동로5길 6 '],
 ['행운복권방', '자동', '충북 청주시 상당구 단재로 119,(영운동) '],
 ['신불당로또', '자동', '충남 천안시 서북구 불당21로 40 501동 지1층 B143호'],
 ['현대장미슈퍼', '자동', '전북 익산시 동서로61길 41 현대아파트1층108호'],
 ['알리바이(나주점)', '자동', '전남 나주시 나주로 142 알리바이'],
 ['알리바이(나주점)', '자동', '전남 나주시 나주로 142 알리바이'],
 ['복권방', '자동', '제주 서귀포시 상모로 326 ']]

In [22]:
df = pd.DataFrame(data, columns=['상호명','구분','소재지'])

In [23]:
df

          상호명   구분                                 소재지
0        복권마을  반자동                     서울 구로구 구로동로 72
1        잠실매점   자동       서울 송파구 올림픽로 269 잠실역 8번출구 앞 가판
2        당첨로또   자동                부산 동구 범일로90번길 6-1 1층
3        위너로또   자동         인천 남동구 구월남로 212  동원프라자 101호
4       라이프마트   자동               인천 중구 연안부두로53번길 36 5호
5        알리바이   자동              광주 광산구 수등로 253 1층 알리바이
6        토큰박스   자동  경기 남양주시 진건오남로 112-1 동양할인마트 앞 로또판매점
7       은미복권방   자동                  경기 부천시 소사로794번길 6
8        로또대박   자동  경기 부천시 석천로177번길 11 제이클래스중동 1층 105호
9        대박명당   자동                    경기 양주시 옥정동로5길 6
10      행운복권방   자동           충북 청주시 상당구 단재로 119,(영운동)
11      신불당로또   자동  충남 천안시 서북구 불당21로 40 501동 지1층 B143호
12     현대장미슈퍼   자동        전북 익산시 동서로61길 41 현대아파트1층108호
13  알리바이(나주점)   자동                 전남 나주시 나주로 142 알리바이
14  알리바이(나주점)   자동                 전남 나주시 나주로 142 알리바이
15        복권방   자동                    제주 서귀포시 상모로 326

로또 회차 목록을 추가하고, 1000회부터 1038회까지

In [27]:
data = []
for i in range (len(way)):
    temp=[]
    temp.append(name[i].text)
    temp.append(way[i].text.strip())
    temp.append(where[i].text)
    data.append(temp)

In [24]:
data = {'method':'topStore',
        'nowPage':'1',
        'rankNo':'',
        'gameNo':'5133',
        'drwNo':'1037',
        'schKey':'all',
        'schVal':''}

In [28]:
data.append(1)

In [29]:
data

[['복권마을', '반자동', '서울 구로구 구로동로 72 '],
 ['잠실매점', '자동', '서울 송파구 올림픽로 269 잠실역 8번출구 앞 가판'],
 ['당첨로또', '자동', '부산 동구 범일로90번길 6-1 1층'],
 ['위너로또', '자동', '인천 남동구 구월남로 212  동원프라자 101호'],
 ['라이프마트', '자동', '인천 중구 연안부두로53번길 36 5호'],
 ['알리바이', '자동', '광주 광산구 수등로 253 1층 알리바이'],
 ['토큰박스', '자동', '경기 남양주시 진건오남로 112-1 동양할인마트 앞 로또판매점'],
 ['은미복권방', '자동', '경기 부천시 소사로794번길 6 '],
 ['로또대박', '자동', '경기 부천시 석천로177번길 11 제이클래스중동 1층 105호'],
 ['대박명당', '자동', '경기 양주시 옥정동로5길 6 '],
 ['행운복권방', '자동', '충북 청주시 상당구 단재로 119,(영운동) '],
 ['신불당로또', '자동', '충남 천안시 서북구 불당21로 40 501동 지1층 B143호'],
 ['현대장미슈퍼', '자동', '전북 익산시 동서로61길 41 현대아파트1층108호'],
 ['알리바이(나주점)', '자동', '전남 나주시 나주로 142 알리바이'],
 ['알리바이(나주점)', '자동', '전남 나주시 나주로 142 알리바이'],
 ['복권방', '자동', '제주 서귀포시 상모로 326 '],
 1]

In [36]:
all_data = []
for n in range (1000,1039) :
    data_n = {'method':'topStore',
        'nowPage':'1',
        'rankNo':'',
        'gameNo':'5133',
        'drwNo':n,
        'schKey':'all',
        'schVal':''}
    
    req = requests.post(url, data= data_n)
    html = req.text
    soup = BeautifulSoup(html, 'html.parser')
    
    name =soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(2)')
    way = soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(3)')
    where = soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(4)')
    
    for i in range (len(way)):
        temp=[]
        temp.append(n)
        temp.append(name[i].text)
        temp.append(way[i].text.strip())
        temp.append(where[i].text)
        all_data.append(temp)

In [37]:
all_data[0]

[1000, '행운식품', '자동', '서울 관악구 신원로3길 21 ']

In [38]:
lotto = pd.DataFrame(all_data, columns=['회차','상호명','구분','소재지'])

In [40]:
lotto

       회차          상호명  구분                                               소재지
0    1000         행운식품  자동                                  서울 관악구 신원로3길 21
1    1000    로또백화점 홍은점  수동                           서울 서대문구 세검정로 99-1 1층 좌측
2    1000  인터넷 복권판매사이트  수동                            동행복권(dhlottery.co.kr)
3    1000         복권나라  수동                            서울 성동구 용답중앙15길 12-1 1층
4    1000      티에스네트웍스  자동  서울 영등포구 신길로28길  9 상가동 B2층 00006호(신길동, 힐스테이트클래시안)
..    ...          ...  ..                                               ...
454  1038   이마트24망상해변점  자동           강원 동해시 동해대로 6270-20 1층 118호, 이마트24망상해변점
455  1038         NG24  수동                                  경북 칠곡군 북중리3길 59
456  1038    천하명당(팔용점)  자동                                경남 창원시 의창구 사화로 26
457  1038          킹로또  수동                               제주 제주시 아란4길 85-5 1층
458  1038        행운복권방  수동                                 제주 제주시 우정로11길 12

[459 rows x 4 columns]