In [104]:
import pandas as pd
from sklearn.svm import SVC

In [105]:
data= pd.read_csv('diabetes.csv')

In [4]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

### 1. 전처리

1-0)변수명 파악

num columns descriptions
1 Pregnancies 임신 횟수
2 Glucose 포도당 부하 검사 수치
3 BloodPressure 혈압(mm Hg)
4 SkinThickness 팔 삼두근 뒤쪽의 피하지방 측정값(mm)
5 Insulin 혈청 인슐린(mu U/ml)
6 BMI 체질량지수 (체중(kg) / 키(m)^2)
7 DiabetesPedigreeFunction 당뇨 내력 가중치 값
8 Age 나이
9 Outcome 당뇨 여부

In [6]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

1)임신여부별 당뇨여부

In [10]:
import numpy as np
import pandas as pd
from sklearn.svm import SVC

In [11]:
data.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [12]:
data[data['Pregnancies'] ==0]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
4,0,137,40,35,168,43.1,2.288,33,1
16,0,118,84,47,230,45.8,0.551,31,1
45,0,180,66,39,0,42.0,1.893,25,1
57,0,100,88,60,110,46.8,0.962,31,0
58,0,146,82,0,0,40.5,1.781,44,0
...,...,...,...,...,...,...,...,...,...
713,0,134,58,20,291,26.4,0.352,21,0
727,0,141,84,26,0,32.4,0.433,22,0
736,0,126,86,27,120,27.4,0.515,21,0
753,0,181,88,44,510,43.3,0.222,26,1
757,0,123,72,0,0,36.3,0.258,52,1

In [13]:
data['Pregnancies2'] = np.where(data['Pregnancies']==0, 0, 1)

In [14]:
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Pregnancies2
0,6,148,72,35,0,33.6,0.627,50,1,1
1,1,85,66,29,0,26.6,0.351,31,0,1
2,8,183,64,0,0,23.3,0.672,32,1,1
3,1,89,66,23,94,28.1,0.167,21,0,1
4,0,137,40,35,168,43.1,2.288,33,1,0
...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0,1
764,2,122,70,27,0,36.8,0.340,27,0,1
765,5,121,72,23,112,26.2,0.245,30,0,1
766,1,126,60,0,0,30.1,0.349,47,1,1
767,1,93,70,31,0,30.4,0.315,23,0,1

In [24]:
data.groupby(['Pregnancies2','Outcome'])['Age'].count().reset_index()

   Pregnancies2  Outcome  Age
0             0        0   73
1             0        1   38
2             1        0  427
3             1        1  230

2) 연령별 당뇨여부

In [25]:
data.groupby('Outcome')['Age','BMI'].median()

C:\Users\jjanw\AppData\Local\Temp\ipykernel_8724\172351057.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data.groupby('Outcome')['Age','BMI'].median()

          Age    BMI
Outcome
0        27.0  30.05
1        36.0  34.25

3) 변수들의 이상치를 null값 처리

In [26]:
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Pregnancies2
0,6,148,72,35,0,33.6,0.627,50,1,1
1,1,85,66,29,0,26.6,0.351,31,0,1
2,8,183,64,0,0,23.3,0.672,32,1,1
3,1,89,66,23,94,28.1,0.167,21,0,1
4,0,137,40,35,168,43.1,2.288,33,1,0
...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0,1
764,2,122,70,27,0,36.8,0.340,27,0,1
765,5,121,72,23,112,26.2,0.245,30,0,1
766,1,126,60,0,0,30.1,0.349,47,1,1
767,1,93,70,31,0,30.4,0.315,23,0,1

In [27]:
data1=data[['Glucose','BloodPressure','SkinThickness','Insulin','BMI']].replace(0,np.NaN)

In [30]:
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [31]:
col_list = ['Glucose','BloodPressure','SkinThickness','Insulin','BMI']
for col in col_list :
    #print(col, len(data[data[col] ==0]))
    data[col]=np.where((data[col]==0) , np.nan, data[col])
    #값이 0인 변수들의 null값 처리

In [32]:
data.isnull().sum()

Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

4) 연령대별 구간을 나눠 그 중위수로 null값 채우기

In [33]:
data['Age'].describe()

count    768.000000
mean      33.240885
std       11.760232
min       21.000000
25%       24.000000
50%       29.000000
75%       41.000000
max       81.000000
Name: Age, dtype: float64

In [34]:
def ageRange(age) : 
    if 21 <= age < 30 :
        return 1
    elif 30 <= age < 40 :
        return 2
    elif 40 <= age < 50 :
        return 3
    elif 50 <= age < 60 :
        return 4
    elif 60 <= age < 70 :
        return 5
    else :
        return 6

In [35]:
data['Age2'] = data['Age'].apply(ageRange)

In [36]:
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Age2
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1,4
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0,2
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1,2
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0,1
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1,2
...,...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.0,180.0,32.9,0.171,63,0,5
764,2,122.0,70.0,27.0,NaN,36.8,0.340,27,0,1
765,5,121.0,72.0,23.0,112.0,26.2,0.245,30,0,2
766,1,126.0,60.0,NaN,NaN,30.1,0.349,47,1,3
767,1,93.0,70.0,31.0,NaN,30.4,0.315,23,0,1

In [39]:
data.groupby('Age2')['Insulin'].median()

Age2
1    105.0
2    140.0
3    131.0
4    192.0
5    258.0
6     60.0
Name: Insulin, dtype: float64

In [40]:
col_list = ['Glucose','BloodPressure','SkinThickness','Insulin','BMI']
for col in col_list :
    data[col].fillna(data.groupby('Age2')[col].transform('median'), inplace=True)

In [41]:
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Age2
0,6,148.0,72.0,35.0,192.0,33.6,0.627,50,1,4
1,1,85.0,66.0,29.0,140.0,26.6,0.351,31,0,2
2,8,183.0,64.0,32.0,140.0,23.3,0.672,32,1,2
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0,1
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1,2
...,...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.0,180.0,32.9,0.171,63,0,5
764,2,122.0,70.0,27.0,105.0,36.8,0.340,27,0,1
765,5,121.0,72.0,23.0,112.0,26.2,0.245,30,0,2
766,1,126.0,60.0,31.0,131.0,30.1,0.349,47,1,3
767,1,93.0,70.0,31.0,105.0,30.4,0.315,23,0,1

In [42]:
data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
Age2                        0
dtype: int64

### 2. 모델에 학습 후 정확도 측정

In [77]:
model=SVC()

In [78]:
x= data.drop('Outcome', axis=1)

AttributeError: 'list' object has no attribute 'drop'

In [79]:
y = data['Outcome']

TypeError: list indices must be integers or slices, not str

In [46]:
from sklearn.model_selection import train_test_split

In [80]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3, random_state=1234, stratify=y)

In [81]:
model.fit(x_train, y_train)

SVC()

In [82]:
model.score(x_train, y_train)

0.7467411545623837

In [83]:
model.score (x_test, y_test)

0.8008658008658008

2-1) 모델에 적합한 C값과 gamma값 찾기

In [84]:
data=[]
for c in range(1,5) : 
    for i in range(1, 10) : 
        gamma = 0.0001 * i
        model = SVC(C=c, gamma=gamma)
        model.fit(x_train,y_train)
        ret1 = model.score(x_train, y_train)
        ret2 = model.score(x_test, y_test)
        temp=[]
        temp.append(c)
        temp.append(gamma)
        temp.append(ret1)
        temp.append(ret2)
        data.append(temp)

In [85]:
df = pd.DataFrame(data, columns = ['C','gamma','train','test'])

In [86]:
df.sort_values(by=['test','train'], ascending= False)

    C   gamma     train      test
1   1  0.0002  0.770950  0.792208
9   2  0.0001  0.770950  0.792208
10  2  0.0002  0.793296  0.787879
2   1  0.0003  0.789572  0.783550
27  4  0.0001  0.774674  0.783550
3   1  0.0004  0.793296  0.779221
19  3  0.0002  0.791434  0.779221
0   1  0.0001  0.756052  0.779221
11  2  0.0003  0.800745  0.774892
28  4  0.0002  0.797020  0.774892
18  3  0.0001  0.776536  0.774892
24  3  0.0007  0.845438  0.770563
30  4  0.0004  0.832402  0.770563
4   1  0.0005  0.800745  0.770563
33  4  0.0007  0.854749  0.766234
32  4  0.0006  0.845438  0.766234
8   1  0.0009  0.826816  0.766234
29  4  0.0003  0.821229  0.766234
7   1  0.0008  0.817505  0.766234
35  4  0.0009  0.865922  0.761905
26  3  0.0009  0.856611  0.761905
34  4  0.0008  0.856611  0.761905
25  3  0.0008  0.851024  0.761905
23  3  0.0006  0.841713  0.761905
31  4  0.0005  0.839851  0.761905
22  3  0.0005  0.830540  0.761905
21  3  0.0004  0.828678  0.761905
6   1  0.0007  0.811918  0.761905
20  3  0.0003  0.808194  0.761905
17  2  0.0009  0.847300  0.757576
16  2  0.0008  0.845438  0.757576
15  2  0.0007  0.837989  0.757576
14  2  0.0006  0.832402  0.757576
13  2  0.0005  0.826816  0.757576
12  2  0.0004  0.808194  0.757576
5   1  0.0006  0.798883  0.757576

In [87]:
model_n = SVC(C=1, gamma = 0.0002)

In [88]:
model_n.fit(x_train,y_train)

SVC(C=1, gamma=0.0002)

In [89]:
model_n.score(x_train,y_train)

0.770949720670391

In [90]:
model_n.score(x_test, y_test)

0.7922077922077922

2-2 다른 모델로 학습 및 테스트해보기

In [91]:
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LogisticRegressionCV
import warnings
warnings.filterwarnings('ignore')

In [92]:
model2 = LogisticRegression()
model3 = LogisticRegressionCV()

In [93]:
d = [(x_train, y_train), (x_test, y_test)]

In [94]:
def trainModel(model, d):
    for i, x in enumerate(d) : 
        if(i==0) :
            model.fit(x[0],x[1])
            print('train', model.score(x[0], x[1]))
        else :
            print('test', model.score(x[0], x[1]))

In [95]:
trainModel(model, d)

train 0.8659217877094972
test 0.7619047619047619

In [96]:
trainModel(model2, d)

train 0.7430167597765364
test 0.7575757575757576

In [97]:
trainModel(model3, d)

train 0.770949720670391
test 0.7922077922077922

In [108]:
real =data.iloc[100].values

In [110]:
real

array([  1.   , 163.   ,  72.   ,   0.   ,   0.   ,  39.   ,   1.222,
        33.   ,   1.   ])

### 3-1). 모델 저장

In [111]:
import pandas as pd
from sklearn.svm import SVC
import numpy as np

In [112]:
col_list = ['Glucose','BloodPressure','SkinThickness','Insulin','BMI']
for col in col_list :
    #print(col, len(data[data[col] ==0]))
    data[col]=np.where((data[col]==0) , np.nan, data[col])
    #1-1>>data의 0값들을 null값 처리!

In [113]:
def ageRange(age) : 
    if 21 <= age < 30 :
        return 1
    elif 30 <= age < 40 :
        return 2
    elif 40 <= age < 50 :
        return 3
    elif 50 <= age < 60 :
        return 4
    elif 60 <= age < 70 :
        return 5
    else :
        return 6

In [115]:
data['Age2'] = data['Age'].apply(ageRange)

In [116]:
col_list = ['Glucose','BloodPressure','SkinThickness','Insulin','BMI']
for col in col_list :
    data[col].fillna(data.groupby('Age2')[col].transform('median'), inplace=True)

In [172]:
model=SVC(C=1, gamma=0.0002)

In [173]:
x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148.0,72.0,35.0,192.0,33.6,0.627,50
1,1,85.0,66.0,29.0,140.0,26.6,0.351,31
2,8,183.0,64.0,32.0,140.0,23.3,0.672,32
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.0,180.0,32.9,0.171,63
764,2,122.0,70.0,27.0,105.0,36.8,0.340,27
765,5,121.0,72.0,23.0,112.0,26.2,0.245,30
766,1,126.0,60.0,31.0,131.0,30.1,0.349,47
767,1,93.0,70.0,31.0,105.0,30.4,0.315,23

In [174]:
x= data.drop(['Outcome','Age2'], axis=1)

In [175]:
y = data['Outcome']

In [176]:
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

In [177]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=0, stratify=y)

In [178]:
model.fit(x_train, y_train)

SVC(C=1, gamma=0.0002)

In [179]:
model.score(x_train, y_train)

0.7736156351791531

In [180]:
model.score(x_test, y_test)

0.7922077922077922

In [181]:
import pickle

In [182]:
with open('model.pkl', 'wb') as f :
    pickle.dump(model, f)

### 3-2)전처리를 위한 데이터 저장

In [127]:
import pandas as pd
from sklearn.svm import SVC
import numpy as np
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

In [128]:
index = data.groupby('Age2')['Glucose'].median().index

In [129]:
value = data.groupby('Age2')['Glucose'].median().values

In [130]:
index

Int64Index([1, 2, 3, 4, 5, 6], dtype='int64', name='Age2')

In [131]:
value

array([109., 122., 123., 139., 136., 134.])

구간별 median값을 실제 데이터에 쓸수없기 때문에 그 median 값을 따로 데이터에
넣어서 실제 데이터 검정때 그 수치를 이용해야함.

In [133]:
dict_tot = {}
for col in col_list :
    index = data.groupby('Age2')[col].median().index
    value = data.groupby('Age2')[col].median().values
    temp={}
    for i in range(len(index)) :
        temp[index[i]] =  value[i]
    dict_tot[col] = temp

In [135]:
dict_tot

{'Glucose': {1: 109.0, 2: 122.0, 3: 123.0, 4: 139.0, 5: 136.0, 6: 134.0},
 'BloodPressure': {1: 68.0, 2: 74.0, 3: 78.0, 4: 78.0, 5: 78.0, 6: 78.0},
 'SkinThickness': {1: 27.0, 2: 32.0, 3: 31.0, 4: 28.5, 5: 31.0, 6: 25.5},
 'Insulin': {1: 105.0, 2: 140.0, 3: 131.0, 4: 192.0, 5: 258.0, 6: 60.0},
 'BMI': {1: 31.6, 2: 32.0, 3: 33.95, 4: 33.05, 5: 29.3, 6: 25.9}}

In [136]:
with open('dict_tot.pkl', 'wb') as f :
    pickle.dump(dict_tot, f)

In [137]:
data.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome', 'Age2'],
      dtype='object')

### 4. 실제 데이터를 통한 검정

In [142]:
import pandas as pd
import numpy as np
import pickle
import preprocess as pp

In [145]:
pp.ageRange(6)

6

In [146]:
real = [1.,163.,72.,0., 0. ,39. , 1.222,  33.]

In [147]:
len(real)

8

In [148]:
real= np.asarray(real).reshape(1,-1)

In [149]:
real

array([[  1.   , 163.   ,  72.   ,   0.   ,   0.   ,  39.   ,   1.222,
         33.   ]])

In [150]:
df = pd.DataFrame(data=real, columns=  ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age'])

In [151]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,1.0,163.0,72.0,0.0,0.0,39.0,1.222,33.0

In [152]:
pp.prefunc(df)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,1.0,163.0,72.0,32.0,140.0,39.0,1.222,33.0

In [183]:
with open('model.pkl', 'rb') as f :
    model = pickle.load(f)
    #모델을 불러옴

In [184]:
model

SVC(C=1, gamma=0.0002)

In [185]:
predict = model.predict(df)

In [186]:
predict

array([1], dtype=int64)

In [ ]:
real = [1.,163.,72.,0., 0. ,39. , 1.222,  33.]

In [195]:
data[(data['Pregnancies']==1) &(data['Glucose']==163.0) & (data['BloodPressure']==72.0)]['Outcome']

100    1
Name: Outcome, dtype: int64