In [1]:
import pandas as pd

In [2]:
loan = pd.read_csv('loan.csv')

In [3]:
loan

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [4]:
loan.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [5]:
loan.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [6]:
loan= loan.dropna()

In [7]:
loan

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [8]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480 entries, 1 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            480 non-null    object
 1   Gender             480 non-null    object
 2   Married            480 non-null    object
 3   Dependents         480 non-null    object
 4   Education          480 non-null    object
 5   Self_Employed      480 non-null    object
 6   ApplicantIncome    480 non-null    int64
 7   CoapplicantIncome  480 non-null    float64
 8   LoanAmount         480 non-null    float64
 9   Loan_Amount_Term   480 non-null    float64
 10  Credit_History     480 non-null    float64
 11  Property_Area      480 non-null    object
 12  Loan_Status        480 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 52.5+ KB

In [9]:
obj_col =[]
for i, j in zip(loan.dtypes.index, loan.dtypes.values):
    if j == 'object' :
        obj_col.append(i)

In [11]:
obj_col

['Loan_ID',
 'Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'Property_Area',
 'Loan_Status']

In [12]:
for col in obj_col[1:] : 
    print(loan[col].unique())

['Male' 'Female']
['Yes' 'No']
['1' '0' '2' '3+']
['Graduate' 'Not Graduate']
['No' 'Yes']
['Rural' 'Urban' 'Semiurban']
['N' 'Y']

In [17]:
from sklearn.preprocessing import LabelEncoder
import warnings
warnings.filterwarnings('ignore')

In [18]:
label = LabelEncoder()

In [19]:
for col in obj_col[1:] :
    label = LabelEncoder()
    loan[col] = label.fit_transform(loan[col])

In [20]:
loan

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,LP001005,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,LP001006,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,LP001008,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1
5,LP001011,1,1,2,0,1,5417,4196.0,267.0,360.0,1.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,0,0,0,0,0,2900,0.0,71.0,360.0,1.0,0,1
610,LP002979,1,1,3,0,0,4106,0.0,40.0,180.0,1.0,0,1
611,LP002983,1,1,1,0,0,8072,240.0,253.0,360.0,1.0,2,1
612,LP002984,1,1,2,0,0,7583,0.0,187.0,360.0,1.0,2,1
613,LP002990,0,0,0,0,1,4583,0.0,133.0,360.0,0.0,1,0

In [21]:
X = loan.drop(['Loan_ID','Loan_Status'], axis=1)
Y = loan['Loan_Status']

In [22]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [23]:
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size = 0.2, stratify=Y, random_state=0)

In [24]:
model = SVC()

In [25]:
model.fit(x_train, y_train)

SVC()

In [26]:
model.score(x_train,y_train)

0.703125

In [27]:
model.score(x_test,y_test)

0.6770833333333334

In [28]:
from sklearn.preprocessing import MinMaxScaler

In [29]:
scaler = MinMaxScaler()

In [30]:
x_train = scaler.fit_transform(x_train)

In [31]:
x_test = scaler.transform(x_test)

In [32]:
model2 =SVC()

In [33]:
model2.fit(x_train, y_train)

SVC()

In [34]:
model2.score(x_train,y_train)

0.8046875

In [35]:
model2.score(x_test,y_test)

0.8229166666666666

--------------------------------

In [36]:
loan=pd.read_csv('loan.csv')

# 1. 전처리

1> 각 항목당 null값들을 알맞게 처리~(최빈값 과 중위수 사용)

In [54]:
loan.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

null이 있는 컬럼들

-Gender               13
-Married               3
-Dependents           15
-Self_Employed        32
-LoanAmount           22
-Loan_Amount_Term     14
-Credit_History       50

1) Gender의 결측치 처리!

In [42]:
loan['Gender'].value_counts(dropna=False, normalize=True)

Male      0.796417
Female    0.182410
NaN       0.021173
Name: Gender, dtype: float64

In [41]:
loan['Gender'].mode() #최빈값!!

0    Male
Name: Gender, dtype: object

In [43]:
loan['Gender'].fillna(loan['Gender'].mode()[0], inplace=True)

In [44]:
loan['Gender'].value_counts(dropna=False, normalize=True)

Male      0.81759
Female    0.18241
Name: Gender, dtype: float64

In [45]:
loan['Gender'].isnull().sum()

0

2) Married 항목 결측치 처리

In [47]:
loan['Married'].fillna(loan['Married'].mode()[0], inplace=True)

In [48]:
null_col = ['Gender','Married','Dependents','Self_Employed','Loan_Amount_Term','Credit_History']

for col in null_col :
    loan[col].fillna(loan[col].mode()[0], inplace=True)

In [49]:
loan.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [50]:
loan['LoanAmount'].describe()

count    592.000000
mean     146.412162
std       85.587325
min        9.000000
25%      100.000000
50%      128.000000
75%      168.000000
max      700.000000
Name: LoanAmount, dtype: float64

In [51]:
loan['LoanAmount'].fillna(loan['LoanAmount'].median(), inplace=True) # LoanAmount의 결측치 처리 중위수로!

In [52]:
loan.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

2> object값들을 수치화!!

In [55]:
from sklearn.preprocessing import LabelEncoder

In [56]:
obj_col = ['Gender','Married','Dependents','Education','Self_Employed','Property_Area']

In [57]:
label = LabelEncoder()

In [58]:
for col in obj_col :
    label = LabelEncoder()
    loan[col] = label.fit_transform(loan[col])

In [59]:
loan

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1,0,0,0,0,5849,0.0,128.0,360.0,1.0,2,Y
1,LP001003,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,N
2,LP001005,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,Y
3,LP001006,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,Y
4,LP001008,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,0,0,0,0,0,2900,0.0,71.0,360.0,1.0,0,Y
610,LP002979,1,1,3,0,0,4106,0.0,40.0,180.0,1.0,0,Y
611,LP002983,1,1,1,0,0,8072,240.0,253.0,360.0,1.0,2,Y
612,LP002984,1,1,2,0,0,7583,0.0,187.0,360.0,1.0,2,Y
613,LP002990,0,0,0,0,1,4583,0.0,133.0,360.0,0.0,1,N

# 2. 모델 구하기

1> 모델 정확도 측정

In [60]:
X = loan.drop(['Loan_ID','Loan_Status'], axis=1)
Y = loan['Loan_Status']

In [61]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [62]:
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size = 0.2, stratify=Y, random_state=1)

In [63]:
model = SVC()

In [64]:
model.fit(x_train, y_train)

SVC()

In [65]:
model.score(x_train,y_train)

0.6924643584521385

In [66]:
model.score(x_test,y_test)

0.6910569105691057

2> 모델 정확도 향상시키기

In [67]:
from sklearn.preprocessing import MinMaxScaler

In [68]:
scaler = MinMaxScaler()

In [69]:
x_train = scaler.fit_transform(x_train)

In [70]:
x_test = scaler.transform(x_test)

In [71]:
model2 =SVC()

In [72]:
model2.fit(x_train, y_train)

SVC()

In [73]:
model2.score(x_train,y_train)

0.8044806517311609

In [74]:
model2.score(x_test,y_test)

0.8373983739837398

3> 모델 저장하기

In [76]:
import pickle

In [77]:
with open('loan_model.pkl', 'wb') as f :
    pickle.dump(model2, f)

# 3. 실제 데이터에 전처리 적용하기

1> 실제 데이터에 null값 채우기위한 피클저장

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
loan=pd.read_csv('loan.csv')

In [4]:
loan.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [5]:
null_col = ['Gender','Married','Dependents','Self_Employed','Loan_Amount_Term','Credit_History']

In [7]:
for col in null_col :
    print(col, loan[col].mode()[0]) #null처리를 최빈값으로 하는 항목들의 목록과 각각의 최빈값

Gender Male
Married Yes
Dependents 0
Self_Employed No
Loan_Amount_Term 360.0
Credit_History 1.0

In [9]:
null_dict ={}

null_col = ['Gender','Married','Dependents','Self_Employed','Loan_Amount_Term','Credit_History']

for col in null_col :
    null_dict[col] =loan[col].mode()[0]
    
null_dict['LoanAmount']= loan['LoanAmount'].median()

In [10]:
null_dict

{'Gender': 'Male',
 'Married': 'Yes',
 'Dependents': '0',
 'Self_Employed': 'No',
 'Loan_Amount_Term': 360.0,
 'Credit_History': 1.0,
 'LoanAmount': 128.0}

In [12]:
import pickle

In [13]:
with open('null_dict.pkl', 'wb') as f :
    pickle.dump(null_dict, f)  #저장

2> 실제 데이터의 object값 변경하기 위한 피클저장

In [14]:
obj_col = ['Gender','Married','Dependents','Education','Self_Employed','Property_Area']

In [15]:
for col in obj_col :
    label = LabelEncoder()
    loan[col] = label.fit_transform(loan[col]) #fit 과 동시에 transform
    filename = 'label_'+ col + '.pkl'
    with open(filename, 'wb') as f :
        pickle.dump(label, f)

# 4. 실제 데이터 검증

In [16]:
import pandas as pd
import pickle
import numpy as np

In [17]:
real = ['LP002990', 'Female', 'No', '0', 'Graduate', 'Yes', 4583, 0.0, 133.0, 360.0, 0.0, 'Semiurban']

In [18]:
real2 = ['LP001345', 'Male', 'Yes', '2', 'Not Graduate', 'No', 4288, 3263.0, 133.0, 180.0, 1.0, 'Urban']

In [19]:
real3 = ['LP001345', None, 'Yes', '2', 'Not Graduate', 'No', 4288, 3263.0, 133.0, 180.0, 1.0, 'Urban']

1> 실제 데이터 데이터프레임으로 만들기

In [20]:
real3 = np.asarray(real3).reshape(1,-1)

In [21]:
df=pd.DataFrame(real3, columns =['Loan_ID','Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Property_Area'])

In [23]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001345,None,Yes,2,Not Graduate,No,4288,3263.0,133.0,180.0,1.0,Urban

2> 실제 데이터 null값 채우기

In [26]:
with open('null_dict.pkl', 'rb') as f :
    null_dict= pickle.load(f)  #null값 처리를 위한 pickle 불러오기!

In [27]:
null_dict

{'Gender': 'Male',
 'Married': 'Yes',
 'Dependents': '0',
 'Self_Employed': 'No',
 'Loan_Amount_Term': 360.0,
 'Credit_History': 1.0,
 'LoanAmount': 128.0}

In [28]:
null_col = ['Gender', 'Married', 'Dependents', 'Self_Employed', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History']
for col in null_col :
    df[col].fillna(null_dict[col], inplace=True) #피클로 불러온 null_dict로 실데이터의 null값 채우기

In [29]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001345,Male,Yes,2,Not Graduate,No,4288,3263.0,133.0,180.0,1.0,Urban

3> 실제 데이터의 object항목 수치화하기

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            1 non-null      object
 1   Gender             1 non-null      object
 2   Married            1 non-null      object
 3   Dependents         1 non-null      object
 4   Education          1 non-null      object
 5   Self_Employed      1 non-null      object
 6   ApplicantIncome    1 non-null      object
 7   CoapplicantIncome  1 non-null      object
 8   LoanAmount         1 non-null      float64
 9   Loan_Amount_Term   1 non-null      float64
 10  Credit_History     1 non-null      float64
 11  Property_Area      1 non-null      object
dtypes: float64(3), object(9)
memory usage: 224.0+ bytes

In [31]:
obj_col = ['Gender','Married','Dependents','Education','Self_Employed','Property_Area']
for col in obj_col :
    filename = 'label_' +col + '.pkl'
    #print(filename)
    with open(filename, 'rb') as f:
        label= pickle.load(f)
    df[col] = label.transform(df[col])

In [32]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001345,1,1,2,1,0,4288,3263.0,133.0,180.0,1.0,2

4> 모델 불러오기 및 실검증

In [33]:
with open('loan_model.pkl', 'rb') as f :
    model= pickle.load(f)

In [35]:
model

SVC()

In [36]:
X = df.drop(['Loan_ID'], axis=1, inplace=True)

In [39]:
predict = model.predict(df)

C:\Users\user\anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SVC was fitted without feature names
  warnings.warn(

In [40]:
predict

array(['Y'], dtype=object)

---------------

*** 다른 실데이터도 해보기 real, real2 ***

In [42]:
real = ['LP002990', 'Female', 'No', '0', 'Graduate', 'Yes', 4583, 0.0, 133.0, 360.0, 0.0, 'Semiurban']

In [43]:
real2 = ['LP001345', 'Male', 'Yes', '2', 'Not Graduate', 'No', 4288, 3263.0, 133.0, 180.0, 1.0, 'Urban']

In [45]:
real = np.asarray(real).reshape(1,-1)

In [46]:
df1 = pd.DataFrame(data= real, columns = ['Loan_ID','Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Property_Area'])

In [47]:
df1

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban

In [49]:
with open ('null_dict.pkl', 'rb') as f :
    null_dict = pickle.load(f)

In [50]:
null_dict

{'Gender': 'Male',
 'Married': 'Yes',
 'Dependents': '0',
 'Self_Employed': 'No',
 'Loan_Amount_Term': 360.0,
 'Credit_History': 1.0,
 'LoanAmount': 128.0}

In [51]:
null_col = ['Gender', 'Married', 'Dependents', 'Self_Employed', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History']
for col in null_col :
    df1[col].fillna(null_dict[col], inplace=True)

In [52]:
df1

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban

In [53]:
obj_col = ['Gender','Married','Dependents','Education','Self_Employed','Property_Area']
for col in obj_col :
    filename = 'label_' +col + '.pkl'
    #print(filename)
    with open(filename, 'rb') as f:
        label= pickle.load(f)
    df1[col] = label.transform(df1[col])

In [54]:
df1

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP002990,0,0,0,0,1,4583,0.0,133.0,360.0,0.0,1

In [55]:
with open('loan_model.pkl', 'rb') as f :
    model= pickle.load(f)

In [56]:
model

SVC()

In [57]:
X = df1.drop(['Loan_ID'], axis=1, inplace=True)

In [58]:
predict = model.predict(df1)

C:\Users\user\anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SVC was fitted without feature names
  warnings.warn(

In [59]:
predict

array(['Y'], dtype=object)

In [60]:
real2 = ['LP001345', 'Male', 'Yes', '2', 'Not Graduate', 'No', 4288, 3263.0, 133.0, 180.0, 1.0, 'Urban']

In [61]:
real2

['LP001345',
 'Male',
 'Yes',
 '2',
 'Not Graduate',
 'No',
 4288,
 3263.0,
 133.0,
 180.0,
 1.0,
 'Urban']

In [64]:
real2=np.asarray(real2).reshape(1,-1)

In [65]:
real2

array([['LP001345', 'Male', 'Yes', '2', 'Not Graduate', 'No', '4288',
        '3263.0', '133.0', '180.0', '1.0', 'Urban']], dtype='<U32')

In [66]:
df2 = pd.DataFrame(data=real2, columns=['Loan_ID','Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Property_Area'])

In [67]:
df2

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001345,Male,Yes,2,Not Graduate,No,4288,3263.0,133.0,180.0,1.0,Urban

In [68]:
null_col = ['Gender', 'Married', 'Dependents', 'Self_Employed', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History']
for col in null_col :
    df2[col].fillna(null_dict[col], inplace=True)

In [69]:
df2

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001345,Male,Yes,2,Not Graduate,No,4288,3263.0,133.0,180.0,1.0,Urban

In [70]:
obj_col = ['Gender','Married','Dependents','Education','Self_Employed','Property_Area']
for col in obj_col :
    filename = 'label_' +col + '.pkl'
    #print(filename)
    with open(filename, 'rb') as f:
        label= pickle.load(f)
    df2[col] = label.transform(df2[col])

In [71]:
df2

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001345,1,1,2,1,0,4288,3263.0,133.0,180.0,1.0,2

In [72]:
X = df2.drop(['Loan_ID'], axis=1, inplace=True)

In [73]:
predict = model.predict(df2)

C:\Users\user\anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SVC was fitted without feature names
  warnings.warn(

In [74]:
predict

array(['Y'], dtype=object)

real4 = 
Loan_ID              LP001003
Gender                   Male
Married                   Yes
Dependents                  1
Education            Graduate
Self_Employed              No
ApplicantIncome          4583
CoapplicantIncome      1508.0
LoanAmount              128.0
Loan_Amount_Term        360.0
Credit_History            1.0
Property_Area           Rural
Loan_Status                 N

In [75]:
real4 =['LP001003', 'Male', 'Yes', '1', 'Graduate', 'No', 4583, 1508.0,
       128.0, 360.0, 1.0, 'Rural']