### 131. 같은 숫자는 싫어

배열 arr가 주어집니다. 배열 arr의 각 원소는 숫자 0부터 9까지로 이루어져 있습니다. 이때, 배열 arr에서 연속적으로 나타나는 숫자는 하나만 남기고 전부 제거하려고 합니다. 단, 제거된 후 남은 수들을 반환할 때는 배열 arr의 원소들의 순서를 유지해야 합니다. 예를 들면,

- arr = [1, 1, 3, 3, 0, 1, 1] 이면 [1, 3, 0, 1] 을 return 합니다.
- arr = [4, 4, 4, 3, 3] 이면 [4, 3] 을 return 합니다.

배열 arr에서 연속적으로 나타나는 숫자는 제거하고 남은 수들을 return 하는 solution 함수를 완성해 주세요.

In [13]:
arr = [1,1,3,3,0,1,1]

arr[-1:]
# for a in range(len(arr)+1)[1:]:
#     print(a)
    # if arr[a]==arr([a-1]) :
    #     arr.remove(arr[a-1])

[1]

In [7]:
lis=[1,2,3]

lis.remove(1)
lis

[2, 3]

### 132. 3진법 뒤집기

자연수 n이 매개변수로 주어집니다. n을 3진법 상에서 앞뒤로 뒤집은 후, 이를 다시 10진법으로 표현한 수를 return 하도록 solution 함수를 완성해주세요.

In [15]:
n = 45

def solution(n):
    answer = ''

    while n >= 1:
        n, rest = divmod(n, 3)
        answer += str(rest)

    answer = int(answer, 3)

    return answer

solution(45)

7

### 133. 예산

S사에서는 각 부서에 필요한 물품을 지원해 주기 위해 부서별로 물품을 구매하는데 필요한 금액을 조사했습니다. 그러나, 전체 예산이 정해져 있기 때문에 모든 부서의 물품을 구매해 줄 수는 없습니다. 그래서 최대한 많은 부서의 물품을 구매해 줄 수 있도록 하려고 합니다.

물품을 구매해 줄 때는 각 부서가 신청한 금액만큼을 모두 지원해 줘야 합니다. 예를 들어 1,000원을 신청한 부서에는 정확히 1,000원을 지원해야 하며, 1,000원보다 적은 금액을 지원해 줄 수는 없습니다.

부서별로 신청한 금액이 들어있는 배열 d와 예산 budget이 매개변수로 주어질 때, 최대 몇 개의 부서에 물품을 지원할 수 있는지 return 하도록 solution 함수를 완성해주세요.

- d는 부서별로 신청한 금액이 들어있는 배열이며, 길이(전체 부서의 개수)는 1 이상 100 이하입니다.

- d의 각 원소는 부서별로 신청한 금액을 나타내며, 부서별 신청 금액은 1 이상 100,000 이하의 자연수입니다.

- budget은 예산을 나타내며, 1 이상 10,000,000 이하의 자연수입니다.

In [32]:
d = [1,3,2,5,4]
budget = 9

sorted(d) 

req_money=0
for i in sorted(d):
    budget-= i
    if 0 > budget :
        print(budget)
        break
    req_money +=1
    
print(req_money)

-1
3

In [33]:
d = [2,2,3,3]
budget = 10

d.pop()

3

In [34]:
#타 코
def solution(d, budget):
    d.sort()
    while budget < sum(d):
        d.pop()
    return len(d)
# 가장 큰 지원 요청을 하는 부서를 하나씩 제외하면서(pop)
# 지원요청금액의 합이 예산보다 적어지는 시점에서의 부서개수를 반환..

### 134. 시저 암호

어떤 문장의 각 알파벳을 일정한 거리만큼 밀어서 다른 알파벳으로 바꾸는 암호화 방식을 시저 암호라고 합니다. 예를 들어 "AB"는 1만큼 밀면 "BC"가 되고, 3만큼 밀면 "DE"가 됩니다. "z"는 1만큼 밀면 "a"가 됩니다. 문자열 s와 거리 n을 입력받아 s를 n만큼 민 암호문을 만드는 함수, solution을 완성해 보세요.

In [75]:
s, n = "AB" , 5

char = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"


def move_char(n):
    new_char =""
    for c in char:
        try :
            #print(char[char.index(c)+1])
            new_char+= char[char.index(c)+n]
        except :
            continue
    #print(char[:1])
    new_char+= char[:n]
    return new_char





# len(char)
# res=list(map(move_char,char))
# print(res)

In [76]:
move_char(2)

'CDEFGHIJKLMNOPQRSTUVWXYZAB'

In [81]:
result1= list(map(move_char, [s]))

TypeError: slice indices must be integers or None or have an __index__ method

In [83]:
def solution(s, n):
    low = "abcdefghijklmnopqrstuvwxyz" 
    up = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
    answer = ''
    for char in s:
        if char in low:
            ind = low.find(char)+n 
            answer += low[ind%26] 
        elif char in up:
            ind = up.find(char)+n
            answer += up[ind%26]
        else: 
            answer += " "
    return answer

### 135. 최소직사각형

명함 지갑을 만드는 회사에서 지갑의 크기를 정하려고 합니다. 다양한 모양과 크기의 명함들을 모두 수납할 수 있으면서, 작아서 들고 다니기 편한 지갑을 만들어야 합니다. 이러한 요건을 만족하는 지갑을 만들기 위해 디자인팀은 모든 명함의 가로 길이와 세로 길이를 조사했습니다.

아래 표는 4가지 명함의 가로 길이와 세로 길이를 나타냅니다.


|명함 번호|	가로 길이|	세로 길이|
|:---:|:---:|:---:|
|1	|60|	50|
|2|	30	|70|
|3|	60	|30|
|4|	80	|40|
가장 긴 가로 길이와 세로 길이가 각각 80, 70이기 때문에 80(가로) x 70(세로) 크기의 지갑을 만들면 모든 명함들을 수납할 수 있습니다. 하지만 2번 명함을 가로로 눕혀 수납한다면 80(가로) x 50(세로) 크기의 지갑으로 모든 명함들을 수납할 수 있습니다. 이때의 지갑 크기는 4000(=80 x 50)입니다.

모든 명함의 가로 길이와 세로 길이를 나타내는 2차원 배열 sizes가 매개변수로 주어집니다. 모든 명함을 수납할 수 있는 가장 작은 지갑을 만들 때, 지갑의 크기를 return 하도록 solution 함수를 완성해주세요.

In [85]:
width = 0
height = 0

sizes = [[60, 50], [30, 70], [60, 30], [80, 40]]

for i in sizes:
    #print(i)
    for j in i:
        print(j)

60
50
30
70
60
30
80
40

In [91]:
sizes = [[60, 50], [30, 70], [60, 30], [80, 40]]

max([j for i in sizes for j in i])

80

In [97]:
sorted([j for i in sizes for j in i]).pop()

80

In [103]:
sorted([j for i in sizes for j in i])[:-1]
# 가장 큰 명함 한 축을 뺀 나머지 길이들

[30, 30, 40, 50, 60, 60, 70]

In [109]:
"""각 항목의 큰값들을 제외하고 난 나머지 값 중 가장큰값과 곱하면 지갑면적이다."""

'각 항목의 큰값들을 제외하고 난 나머지 값 중 가장큰값과 곱하면 지갑면적이다.'

In [113]:
for s in sizes :
    print(sorted(s)[0])

50
30
30
40

In [115]:
max([j for i in sizes for j in i]) * max([sorted(s)[0] for s in sizes])

4000

In [ ]:
#타 코 1번
max(max(x) for x in sizes) * max(min(x) for x in sizes)
# 결국 내가 한것과 의미는 동일한데 더 직관적이다. min max 잘 사용하자!

In [116]:
#타 코 2번
solution = lambda sizes: max(sum(sizes, [])) * max(min(size) for size in sizes)
# 내가 푼것의 첫번째 max([j for i in sizes for j in i])를 max(sum(sizes,[]))로 줄일 수 있다는 것을 처음 알았다. sum의 재발견.. sum의 매개변수로 빈리스트를 넣어서 sizes의 요소를 1차원으로 풀어 리스트에 담는다 이해하면될듯..

### 136. 비밀지도

네오는 평소 프로도가 비상금을 숨겨놓는 장소를 알려줄 비밀지도를 손에 넣었다. 그런데 이 비밀지도는 숫자로 암호화되어 있어 위치를 확인하기 위해서는 암호를 해독해야 한다. 다행히 지도 암호를 해독할 방법을 적어놓은 메모도 함께 발견했다.

지도는 한 변의 길이가 n인 정사각형 배열 형태로, 각 칸은 "공백"(" ") 또는 "벽"("#") 두 종류로 이루어져 있다.
전체 지도는 두 장의 지도를 겹쳐서 얻을 수 있다. 각각 "지도 1"과 "지도 2"라고 하자. 지도 1 또는 지도 2 중 어느 하나라도 벽인 부분은 전체 지도에서도 벽이다. 지도 1과 지도 2에서 모두 공백인 부분은 전체 지도에서도 공백이다.
"지도 1"과 "지도 2"는 각각 정수 배열로 암호화되어 있다.
암호화된 배열은 지도의 각 가로줄에서 벽 부분을 1, 공백 부분을 0으로 부호화했을 때 얻어지는 이진수에 해당하는 값의 배열이다.

In [2]:
n=5
arr1 = [9, 20, 28, 18, 11]
arr2 = [30, 1, 21, 17, 28]

In [11]:
for a in arr1:
    print(bin(a)[2:].zfill(5))

01001
10100
11100
10010
01011

In [12]:
for a in arr2:
    print(bin(a)[2:].zfill(5))

11110
00001
10101
10001
11100

In [19]:
arr1_map=[bin(a)[2:].zfill(5) for a in arr1]

In [20]:
arr2_map=[bin(a)[2:].zfill(5) for a in arr2]

In [16]:
[bin(a)[2:].zfill(5) for a in arr1][0]

'01001'

In [17]:
[bin(a)[2:].zfill(5) for a in arr2][0]

'11110'

real_map=[]
for arr in range(len(n)):
    temp=''
    for i in range(n):
        if arr[i]=='0' :
            temp.append(' ')
        else :
            temp.append('#')
    real_map.append(temp)
print(real_map)

In [24]:
arr1_map

['01001', '10100', '11100', '10010', '01011']

In [25]:
arr2_map

['11110', '00001', '10101', '10001', '11100']

In [26]:
for i in arr1_map:
    print(i)

01001
10100
11100
10010
01011

In [28]:
answer=[]
for i in range(n):
    temp = bin(arr1[i] | arr2[i])
    temp = temp[2:].zfill(n)
    temp = temp.replace('1','#').replace('0',' ')
    answer.append(temp)

print(answer)

['#####', '# # #', '### #', '#  ##', '#####']

### 137. 문자열 내 마음대로 정렬하기

문자열로 구성된 리스트 strings와, 정수 n이 주어졌을 때, 각 문자열의 인덱스 n번째 글자를 기준으로 오름차순 정렬하려 합니다. 예를 들어 strings가 ["sun", "bed", "car"]이고 n이 1이면 각 단어의 인덱스 1의 문자 "u", "e", "a"로 strings를 정렬합니다.

In [28]:
strings, n= ["abce", "abcd", "cdx"], 2

In [31]:
for string in strings :
    print(sorted(string[n]))

['c']
['c']
['x']

In [32]:
[string[n] for string in strings]

['c', 'c', 'x']

In [33]:
word_dict=dict(zip([string[n] for string in strings], strings))
word_dict

{'c': 'abcd', 'x': 'cdx'}

In [34]:
for char in sorted([string[n] for string in strings]) :
    print(word_dict[char])

abcd
abcd
cdx

In [35]:
[word_dict[a] for a in sorted([string[n] for string in strings])]

['abcd', 'abcd', 'cdx']

In [ ]:
def solution(strings, n):
    return sorted(strings, key=lambda x:(x[n],x))

### 138. 숫자 문자열과 영단어

네오와 프로도가 숫자놀이를 하고 있습니다. 네오가 프로도에게 숫자를 건넬 때 일부 자릿수를 영단어로 바꾼 카드를 건네주면 프로도는 원래 숫자를 찾는 게임입니다.

다음은 숫자의 일부 자릿수를 영단어로 바꾸는 예시입니다.

1478 → "one4seveneight"
234567 → "23four5six7"
10203 → "1zerotwozero3"
이렇게 숫자의 일부 자릿수가 영단어로 바뀌어졌거나, 혹은 바뀌지 않고 그대로인 문자열 s가 매개변수로 주어집니다. s가 의미하는 원래 숫자를 return 하도록 solution 함수를 완성해주세요.

참고로 각 숫자에 대응되는 영단어는 다음 표와 같습니다.

In [43]:
s = "one4seveneight"

lis=''

dict={}
dd=['zero',
'one',
'two',
'three',
'four',
'five',
'six',
'seven',
'eight',
'nine']

for i in range(10):
    dict[dd[i]]=i
print(dict)

{'zero': 0, 'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 'seven': 7, 'eight': 8, 'nine': 9}

In [46]:
s = "23four5six7"

answer=''
alph=''

for i in s:
    if i.isdigit():
        answer+=i
    elif i.isalpha():
        alph+=i
        if alph in dict.keys():
            answer += str(dict[alph])
            alph=''
print(answer)

234567

In [ ]:
#타코

for i in range(len(words)):
        s = s.replace(words[i], str(i))
print(int(s))

#인덱스를 바로 매칭해서 s에 일치하는 값이 있으면 replace를 한다..  복잡하게 갈 필요없었는데..

### 139. 삼총사

한국중학교에 다니는 학생들은 각자 정수 번호를 갖고 있습니다. 이 학교 학생 3명의 정수 번호를 더했을 때 0이 되면 3명의 학생은 삼총사라고 합니다. 예를 들어, 5명의 학생이 있고, 각각의 정수 번호가 순서대로 -2, 3, 0, 2, -5일 때, 첫 번째, 세 번째, 네 번째 학생의 정수 번호를 더하면 0이므로 세 학생은 삼총사입니다. 또한, 두 번째, 네 번째, 다섯 번째 학생의 정수 번호를 더해도 0이므로 세 학생도 삼총사입니다. 따라서 이 경우 한국중학교에서는 두 가지 방법으로 삼총사를 만들 수 있습니다.

한국중학교 학생들의 번호를 나타내는 정수 배열 number가 매개변수로 주어질 때, 학생들 중 삼총사를 만들 수 있는 방법의 수를 return 하도록 solution 함수를 완성하세요.

In [60]:
number =[-3, -2, -1, 0, 1, 2, 3]

for n in number :
    print(n)

-3
-2
-1
0
1
2
3

In [57]:
import itertools

print(list(itertools.combinations(number, 3)))

[(-2, 3, 0), (-2, 3, 2), (-2, 3, -5), (-2, 0, 2), (-2, 0, -5), (-2, 2, -5), (3, 0, 2), (3, 0, -5), (3, 2, -5), (0, 2, -5)]

In [61]:
comb=list(itertools.combinations(number, 3))

count= 0
for c in comb:
    if sum(c) == 0 :
        count+=1
print(count)

5

### 140. 두 개 뽑아서 더하기

정수 배열 numbers가 주어집니다. numbers에서 서로 다른 인덱스에 있는 두 개의 수를 뽑아 더해서 만들 수 있는 모든 수를 배열에 오름차순으로 담아 return 하도록 solution 함수를 완성해주세요.

In [63]:
numbers=[2,1,3,4,1]

set(numbers)

{1, 2, 3, 4}

In [66]:
import itertools

for i in list(itertools.combinations(numbers, 2)):
    print(sum(i))

3
5
6
3
4
5
2
7
4
5

In [69]:
set([sum(i) for i in list(itertools.combinations(numbers, 2))])

{2, 3, 4, 5, 6, 7}

In [72]:
list(set([sum(i) for i in list(itertools.combinations(numbers, 2))]))

[2, 3, 4, 5, 6, 7]

### 141. 2016년

2016년 1월 1일은 금요일입니다. 2016년 a월 b일은 무슨 요일일까요? 두 수 a ,b를 입력받아 2016년 a월 b일이 무슨 요일인지 리턴하는 함수, solution을 완성하세요. 요일의 이름은 일요일부터 토요일까지 각각 SUN,MON,TUE,WED,THU,FRI,SAT

입니다. 예를 들어 a=5, b=24라면 5월 24일은 화요일이므로 문자열 "TUE"를 반환하세요.

In [4]:
DAY = ['SUN','MON','TUE','WED','THU','FRI','SAT']
month_list=[31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

In [21]:
for index, i in enumerate(DAY) :
    print(index, i)
print('----------')

dict={}
for x,y in enumerate(month_list) :
    dict[x+1]=y

0 SUN
1 MON
2 TUE
3 WED
4 THU
5 FRI
6 SAT
----------

In [22]:
print(dict)

{1: 31, 2: 29, 3: 31, 4: 30, 5: 31, 6: 30, 7: 31, 8: 31, 9: 30, 10: 31, 11: 30, 12: 31}

In [38]:
count=0
a=5
b=24

dict.values() = a-1


for i in dict.values():
    count+= i
    print(i, count)

SyntaxError: cannot assign to function call (1329135783.py, line 5)

In [44]:
dict.values

In [ ]:
DAY = ['FRI','SAT','SUN','MON','TUE','WED','THU']
month_list=[31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

for i in range(a-1):
    count+=month_list[i]
    
count += b-1
count=count%7

DAY[count]

In [46]:
# 타 코 

def getDayName(a,b):
    months = [31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    days = ['FRI', 'SAT', 'SUN', 'MON', 'TUE', 'WED', 'THU']
    return days[(sum(months[:a-1])+b-1)%7]

#깔끔하다... 진정 필요할 때 슬라이싱을 생각못하다니..

### 142. 폰켓몬

당신은 폰켓몬을 잡기 위한 오랜 여행 끝에, 홍 박사님의 연구실에 도착했습니다. 홍 박사님은 당신에게 자신의 연구실에 있는 총 N 마리의 폰켓몬 중에서 N/2마리를 가져가도 좋다고 했습니다.
홍 박사님 연구실의 폰켓몬은 종류에 따라 번호를 붙여 구분합니다. 따라서 같은 종류의 폰켓몬은 같은 번호를 가지고 있습니다. 예를 들어 연구실에 총 4마리의 폰켓몬이 있고, 각 폰켓몬의 종류 번호가 [3번, 1번, 2번, 3번]이라면 이는 3번 폰켓몬 두 마리, 1번 폰켓몬 한 마리, 2번 폰켓몬 한 마리가 있음을 나타냅니다. 이때, 4마리의 폰켓몬 중 2마리를 고르는 방법은 다음과 같이 6가지가 있습니다.

- 첫 번째(3번), 두 번째(1번) 폰켓몬을 선택
- 첫 번째(3번), 세 번째(2번) 폰켓몬을 선택
- 첫 번째(3번), 네 번째(3번) 폰켓몬을 선택
- 두 번째(1번), 세 번째(2번) 폰켓몬을 선택
- 두 번째(1번), 네 번째(3번) 폰켓몬을 선택
- 세 번째(2번), 네 번째(3번) 폰켓몬을 선택

이때, 첫 번째(3번) 폰켓몬과 네 번째(3번) 폰켓몬을 선택하는 방법은 한 종류(3번 폰켓몬 두 마리)의 폰켓몬만 가질 수 있지만, 다른 방법들은 모두 두 종류의 폰켓몬을 가질 수 있습니다. 따라서 위 예시에서 가질 수 있는 폰켓몬 종류 수의 최댓값은 2가 됩니다.
당신은 최대한 다양한 종류의 폰켓몬을 가지길 원하기 때문에, 최대한 많은 종류의 폰켓몬을 포함해서 N/2마리를 선택하려 합니다. N마리 폰켓몬의 종류 번호가 담긴 배열 nums가 매개변수로 주어질 때, N/2마리의 폰켓몬을 선택하는 방법 중, 가장 많은 종류의 폰켓몬을 선택하는 방법을 찾아, 그때의 폰켓몬 종류 번호의 개수를 return 하도록 solution 함수를 완성해주세요.

### 143. 소수 찾기

정수 배열 numbers가 주어집니다. numbers에서 서로 다른 인덱스에 있는 두 개의 수를 뽑아 더해서 만들 수 있는 모든 수를 배열에 오름차순으로 담아 return 하도록 solution 함수를 완성해주세요.

### 144. 소수 만들기

정수 배열 numbers가 주어집니다. numbers에서 서로 다른 인덱스에 있는 두 개의 수를 뽑아 더해서 만들 수 있는 모든 수를 배열에 오름차순으로 담아 return 하도록 solution 함수를 완성해주세요.

### 145. 실패율

정수 배열 numbers가 주어집니다. numbers에서 서로 다른 인덱스에 있는 두 개의 수를 뽑아 더해서 만들 수 있는 모든 수를 배열에 오름차순으로 담아 return 하도록 solution 함수를 완성해주세요.