### 131. 같은 숫자는 싫어

배열 arr가 주어집니다. 배열 arr의 각 원소는 숫자 0부터 9까지로 이루어져 있습니다. 이때, 배열 arr에서 연속적으로 나타나는 숫자는 하나만 남기고 전부 제거하려고 합니다. 단, 제거된 후 남은 수들을 반환할 때는 배열 arr의 원소들의 순서를 유지해야 합니다. 예를 들면,

- arr = [1, 1, 3, 3, 0, 1, 1] 이면 [1, 3, 0, 1] 을 return 합니다.
- arr = [4, 4, 4, 3, 3] 이면 [4, 3] 을 return 합니다.

배열 arr에서 연속적으로 나타나는 숫자는 제거하고 남은 수들을 return 하는 solution 함수를 완성해 주세요.

In [13]:
arr = [1,1,3,3,0,1,1]

arr[-1:]
# for a in range(len(arr)+1)[1:]:
#     print(a)
    # if arr[a]==arr([a-1]) :
    #     arr.remove(arr[a-1])

[1]

In [7]:
lis=[1,2,3]

lis.remove(1)
lis

[2, 3]

### 132. 3진법 뒤집기

자연수 n이 매개변수로 주어집니다. n을 3진법 상에서 앞뒤로 뒤집은 후, 이를 다시 10진법으로 표현한 수를 return 하도록 solution 함수를 완성해주세요.

In [15]:
n = 45

def solution(n):
    answer = ''

    while n >= 1:
        n, rest = divmod(n, 3)
        answer += str(rest)

    answer = int(answer, 3)

    return answer

solution(45)

7

### 133. 예산

S사에서는 각 부서에 필요한 물품을 지원해 주기 위해 부서별로 물품을 구매하는데 필요한 금액을 조사했습니다. 그러나, 전체 예산이 정해져 있기 때문에 모든 부서의 물품을 구매해 줄 수는 없습니다. 그래서 최대한 많은 부서의 물품을 구매해 줄 수 있도록 하려고 합니다.

물품을 구매해 줄 때는 각 부서가 신청한 금액만큼을 모두 지원해 줘야 합니다. 예를 들어 1,000원을 신청한 부서에는 정확히 1,000원을 지원해야 하며, 1,000원보다 적은 금액을 지원해 줄 수는 없습니다.

부서별로 신청한 금액이 들어있는 배열 d와 예산 budget이 매개변수로 주어질 때, 최대 몇 개의 부서에 물품을 지원할 수 있는지 return 하도록 solution 함수를 완성해주세요.

- d는 부서별로 신청한 금액이 들어있는 배열이며, 길이(전체 부서의 개수)는 1 이상 100 이하입니다.

- d의 각 원소는 부서별로 신청한 금액을 나타내며, 부서별 신청 금액은 1 이상 100,000 이하의 자연수입니다.

- budget은 예산을 나타내며, 1 이상 10,000,000 이하의 자연수입니다.

In [32]:
d = [1,3,2,5,4]
budget = 9

sorted(d) 

req_money=0
for i in sorted(d):
    budget-= i
    if 0 > budget :
        print(budget)
        break
    req_money +=1
    
print(req_money)

-1
3

In [33]:
d = [2,2,3,3]
budget = 10

d.pop()

3

In [34]:
#타 코
def solution(d, budget):
    d.sort()
    while budget < sum(d):
        d.pop()
    return len(d)
# 가장 큰 지원 요청을 하는 부서를 하나씩 제외하면서(pop)
# 지원요청금액의 합이 예산보다 적어지는 시점에서의 부서개수를 반환..

### 134. 시저 암호

어떤 문장의 각 알파벳을 일정한 거리만큼 밀어서 다른 알파벳으로 바꾸는 암호화 방식을 시저 암호라고 합니다. 예를 들어 "AB"는 1만큼 밀면 "BC"가 되고, 3만큼 밀면 "DE"가 됩니다. "z"는 1만큼 밀면 "a"가 됩니다. 문자열 s와 거리 n을 입력받아 s를 n만큼 민 암호문을 만드는 함수, solution을 완성해 보세요.

In [75]:
s, n = "AB" , 5

char = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"


def move_char(n):
    new_char =""
    for c in char:
        try :
            #print(char[char.index(c)+1])
            new_char+= char[char.index(c)+n]
        except :
            continue
    #print(char[:1])
    new_char+= char[:n]
    return new_char





# len(char)
# res=list(map(move_char,char))
# print(res)

In [76]:
move_char(2)

'CDEFGHIJKLMNOPQRSTUVWXYZAB'

In [81]:
result1= list(map(move_char, [s]))

TypeError: slice indices must be integers or None or have an __index__ method

In [83]:
def solution(s, n):
    low = "abcdefghijklmnopqrstuvwxyz" 
    up = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
    answer = ''
    for char in s:
        if char in low:
            ind = low.find(char)+n 
            answer += low[ind%26] 
        elif char in up:
            ind = up.find(char)+n
            answer += up[ind%26]
        else: 
            answer += " "
    return answer

### 135. 최소직사각형

명함 지갑을 만드는 회사에서 지갑의 크기를 정하려고 합니다. 다양한 모양과 크기의 명함들을 모두 수납할 수 있으면서, 작아서 들고 다니기 편한 지갑을 만들어야 합니다. 이러한 요건을 만족하는 지갑을 만들기 위해 디자인팀은 모든 명함의 가로 길이와 세로 길이를 조사했습니다.

아래 표는 4가지 명함의 가로 길이와 세로 길이를 나타냅니다.


|명함 번호|	가로 길이|	세로 길이|
|:---:|:---:|:---:|
|1	|60|	50|
|2|	30	|70|
|3|	60	|30|
|4|	80	|40|
가장 긴 가로 길이와 세로 길이가 각각 80, 70이기 때문에 80(가로) x 70(세로) 크기의 지갑을 만들면 모든 명함들을 수납할 수 있습니다. 하지만 2번 명함을 가로로 눕혀 수납한다면 80(가로) x 50(세로) 크기의 지갑으로 모든 명함들을 수납할 수 있습니다. 이때의 지갑 크기는 4000(=80 x 50)입니다.

모든 명함의 가로 길이와 세로 길이를 나타내는 2차원 배열 sizes가 매개변수로 주어집니다. 모든 명함을 수납할 수 있는 가장 작은 지갑을 만들 때, 지갑의 크기를 return 하도록 solution 함수를 완성해주세요.

In [85]:
width = 0
height = 0

sizes = [[60, 50], [30, 70], [60, 30], [80, 40]]

for i in sizes:
    #print(i)
    for j in i:
        print(j)

60
50
30
70
60
30
80
40

In [91]:
sizes = [[60, 50], [30, 70], [60, 30], [80, 40]]

max([j for i in sizes for j in i])

80

In [97]:
sorted([j for i in sizes for j in i]).pop()

80

In [103]:
sorted([j for i in sizes for j in i])[:-1]
# 가장 큰 명함 한 축을 뺀 나머지 길이들

[30, 30, 40, 50, 60, 60, 70]

In [109]:
"""각 항목의 큰값들을 제외하고 난 나머지 값 중 가장큰값과 곱하면 지갑면적이다."""

'각 항목의 큰값들을 제외하고 난 나머지 값 중 가장큰값과 곱하면 지갑면적이다.'

In [113]:
for s in sizes :
    print(sorted(s)[0])

50
30
30
40

In [115]:
max([j for i in sizes for j in i]) * max([sorted(s)[0] for s in sizes])

4000

In [ ]:
#타 코 1번
max(max(x) for x in sizes) * max(min(x) for x in sizes)
# 결국 내가 한것과 의미는 동일한데 더 직관적이다. min max 잘 사용하자!

In [116]:
#타 코 2번
solution = lambda sizes: max(sum(sizes, [])) * max(min(size) for size in sizes)
# 내가 푼것의 첫번째 max([j for i in sizes for j in i])를 max(sum(sizes,[]))로 줄일 수 있다는 것을 처음 알았다. sum의 재발견.. sum의 매개변수로 빈리스트를 넣어서 sizes의 요소를 1차원으로 풀어 리스트에 담는다 이해하면될듯..

### 136. 비밀지도

네오는 평소 프로도가 비상금을 숨겨놓는 장소를 알려줄 비밀지도를 손에 넣었다. 그런데 이 비밀지도는 숫자로 암호화되어 있어 위치를 확인하기 위해서는 암호를 해독해야 한다. 다행히 지도 암호를 해독할 방법을 적어놓은 메모도 함께 발견했다.

지도는 한 변의 길이가 n인 정사각형 배열 형태로, 각 칸은 "공백"(" ") 또는 "벽"("#") 두 종류로 이루어져 있다.
전체 지도는 두 장의 지도를 겹쳐서 얻을 수 있다. 각각 "지도 1"과 "지도 2"라고 하자. 지도 1 또는 지도 2 중 어느 하나라도 벽인 부분은 전체 지도에서도 벽이다. 지도 1과 지도 2에서 모두 공백인 부분은 전체 지도에서도 공백이다.
"지도 1"과 "지도 2"는 각각 정수 배열로 암호화되어 있다.
암호화된 배열은 지도의 각 가로줄에서 벽 부분을 1, 공백 부분을 0으로 부호화했을 때 얻어지는 이진수에 해당하는 값의 배열이다.

In [2]:
n=5
arr1 = [9, 20, 28, 18, 11]
arr2 = [30, 1, 21, 17, 28]

In [11]:
for a in arr1:
    print(bin(a)[2:].zfill(5))

01001
10100
11100
10010
01011

In [12]:
for a in arr2:
    print(bin(a)[2:].zfill(5))

11110
00001
10101
10001
11100

In [19]:
arr1_map=[bin(a)[2:].zfill(5) for a in arr1]

In [20]:
arr2_map=[bin(a)[2:].zfill(5) for a in arr2]

In [16]:
[bin(a)[2:].zfill(5) for a in arr1][0]

'01001'

In [17]:
[bin(a)[2:].zfill(5) for a in arr2][0]

'11110'

real_map=[]
for arr in range(len(n)):
    temp=''
    for i in range(n):
        if arr[i]=='0' :
            temp.append(' ')
        else :
            temp.append('#')
    real_map.append(temp)
print(real_map)

In [24]:
arr1_map

['01001', '10100', '11100', '10010', '01011']

In [25]:
arr2_map

['11110', '00001', '10101', '10001', '11100']

In [26]:
for i in arr1_map:
    print(i)

01001
10100
11100
10010
01011

In [28]:
answer=[]
for i in range(n):
    temp = bin(arr1[i] | arr2[i])
    temp = temp[2:].zfill(n)
    temp = temp.replace('1','#').replace('0',' ')
    answer.append(temp)

print(answer)

['#####', '# # #', '### #', '#  ##', '#####']

### 137. 문자열 내 마음대로 정렬하기

문자열로 구성된 리스트 strings와, 정수 n이 주어졌을 때, 각 문자열의 인덱스 n번째 글자를 기준으로 오름차순 정렬하려 합니다. 예를 들어 strings가 ["sun", "bed", "car"]이고 n이 1이면 각 단어의 인덱스 1의 문자 "u", "e", "a"로 strings를 정렬합니다.

In [28]:
strings, n= ["abce", "abcd", "cdx"], 2

In [31]:
for string in strings :
    print(sorted(string[n]))

['c']
['c']
['x']

In [32]:
[string[n] for string in strings]

['c', 'c', 'x']

In [33]:
word_dict=dict(zip([string[n] for string in strings], strings))
word_dict

{'c': 'abcd', 'x': 'cdx'}

In [34]:
for char in sorted([string[n] for string in strings]) :
    print(word_dict[char])

abcd
abcd
cdx

In [35]:
[word_dict[a] for a in sorted([string[n] for string in strings])]

['abcd', 'abcd', 'cdx']

In [ ]:
def solution(strings, n):
    return sorted(strings, key=lambda x:(x[n],x))

### 138. 숫자 문자열과 영단어

네오와 프로도가 숫자놀이를 하고 있습니다. 네오가 프로도에게 숫자를 건넬 때 일부 자릿수를 영단어로 바꾼 카드를 건네주면 프로도는 원래 숫자를 찾는 게임입니다.

다음은 숫자의 일부 자릿수를 영단어로 바꾸는 예시입니다.

1478 → "one4seveneight"
234567 → "23four5six7"
10203 → "1zerotwozero3"
이렇게 숫자의 일부 자릿수가 영단어로 바뀌어졌거나, 혹은 바뀌지 않고 그대로인 문자열 s가 매개변수로 주어집니다. s가 의미하는 원래 숫자를 return 하도록 solution 함수를 완성해주세요.

참고로 각 숫자에 대응되는 영단어는 다음 표와 같습니다.

In [43]:
s = "one4seveneight"

lis=''

dict={}
dd=['zero',
'one',
'two',
'three',
'four',
'five',
'six',
'seven',
'eight',
'nine']

for i in range(10):
    dict[dd[i]]=i
print(dict)

{'zero': 0, 'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 'seven': 7, 'eight': 8, 'nine': 9}

In [46]:
s = "23four5six7"

answer=''
alph=''

for i in s:
    if i.isdigit():
        answer+=i
    elif i.isalpha():
        alph+=i
        if alph in dict.keys():
            answer += str(dict[alph])
            alph=''
print(answer)

234567

In [ ]:
#타코

for i in range(len(words)):
        s = s.replace(words[i], str(i))
print(int(s))

#인덱스를 바로 매칭해서 s에 일치하는 값이 있으면 replace를 한다..  복잡하게 갈 필요없었는데..

### 139. 삼총사

한국중학교에 다니는 학생들은 각자 정수 번호를 갖고 있습니다. 이 학교 학생 3명의 정수 번호를 더했을 때 0이 되면 3명의 학생은 삼총사라고 합니다. 예를 들어, 5명의 학생이 있고, 각각의 정수 번호가 순서대로 -2, 3, 0, 2, -5일 때, 첫 번째, 세 번째, 네 번째 학생의 정수 번호를 더하면 0이므로 세 학생은 삼총사입니다. 또한, 두 번째, 네 번째, 다섯 번째 학생의 정수 번호를 더해도 0이므로 세 학생도 삼총사입니다. 따라서 이 경우 한국중학교에서는 두 가지 방법으로 삼총사를 만들 수 있습니다.

한국중학교 학생들의 번호를 나타내는 정수 배열 number가 매개변수로 주어질 때, 학생들 중 삼총사를 만들 수 있는 방법의 수를 return 하도록 solution 함수를 완성하세요.

In [60]:
number =[-3, -2, -1, 0, 1, 2, 3]

for n in number :
    print(n)

-3
-2
-1
0
1
2
3

In [57]:
import itertools

print(list(itertools.combinations(number, 3)))

[(-2, 3, 0), (-2, 3, 2), (-2, 3, -5), (-2, 0, 2), (-2, 0, -5), (-2, 2, -5), (3, 0, 2), (3, 0, -5), (3, 2, -5), (0, 2, -5)]

In [61]:
comb=list(itertools.combinations(number, 3))

count= 0
for c in comb:
    if sum(c) == 0 :
        count+=1
print(count)

5

### 140. 두 개 뽑아서 더하기

정수 배열 numbers가 주어집니다. numbers에서 서로 다른 인덱스에 있는 두 개의 수를 뽑아 더해서 만들 수 있는 모든 수를 배열에 오름차순으로 담아 return 하도록 solution 함수를 완성해주세요.

In [63]:
numbers=[2,1,3,4,1]

set(numbers)

{1, 2, 3, 4}

In [66]:
import itertools

for i in list(itertools.combinations(numbers, 2)):
    print(sum(i))

3
5
6
3
4
5
2
7
4
5

In [69]:
set([sum(i) for i in list(itertools.combinations(numbers, 2))])

{2, 3, 4, 5, 6, 7}

In [72]:
list(set([sum(i) for i in list(itertools.combinations(numbers, 2))]))

[2, 3, 4, 5, 6, 7]

### 141. 2016년

2016년 1월 1일은 금요일입니다. 2016년 a월 b일은 무슨 요일일까요? 두 수 a ,b를 입력받아 2016년 a월 b일이 무슨 요일인지 리턴하는 함수, solution을 완성하세요. 요일의 이름은 일요일부터 토요일까지 각각 SUN,MON,TUE,WED,THU,FRI,SAT

입니다. 예를 들어 a=5, b=24라면 5월 24일은 화요일이므로 문자열 "TUE"를 반환하세요.

In [4]:
DAY = ['SUN','MON','TUE','WED','THU','FRI','SAT']
month_list=[31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

In [21]:
for index, i in enumerate(DAY) :
    print(index, i)
print('----------')

dict={}
for x,y in enumerate(month_list) :
    dict[x+1]=y

0 SUN
1 MON
2 TUE
3 WED
4 THU
5 FRI
6 SAT
----------

In [22]:
print(dict)

{1: 31, 2: 29, 3: 31, 4: 30, 5: 31, 6: 30, 7: 31, 8: 31, 9: 30, 10: 31, 11: 30, 12: 31}

In [38]:
count=0
a=5
b=24

dict.values() = a-1


for i in dict.values():
    count+= i
    print(i, count)

SyntaxError: cannot assign to function call (1329135783.py, line 5)

In [44]:
dict.values

In [ ]:
DAY = ['FRI','SAT','SUN','MON','TUE','WED','THU']
month_list=[31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

for i in range(a-1):
    count+=month_list[i]
    
count += b-1
count=count%7

DAY[count]

In [46]:
# 타 코 

def getDayName(a,b):
    months = [31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    days = ['FRI', 'SAT', 'SUN', 'MON', 'TUE', 'WED', 'THU']
    return days[(sum(months[:a-1])+b-1)%7]

#깔끔하다... 진정 필요할 때 슬라이싱을 생각못하다니..

### 142. 폰켓몬

당신은 폰켓몬을 잡기 위한 오랜 여행 끝에, 홍 박사님의 연구실에 도착했습니다. 홍 박사님은 당신에게 자신의 연구실에 있는 총 N 마리의 폰켓몬 중에서 N/2마리를 가져가도 좋다고 했습니다.
홍 박사님 연구실의 폰켓몬은 종류에 따라 번호를 붙여 구분합니다. 따라서 같은 종류의 폰켓몬은 같은 번호를 가지고 있습니다. 예를 들어 연구실에 총 4마리의 폰켓몬이 있고, 각 폰켓몬의 종류 번호가 [3번, 1번, 2번, 3번]이라면 이는 3번 폰켓몬 두 마리, 1번 폰켓몬 한 마리, 2번 폰켓몬 한 마리가 있음을 나타냅니다. 이때, 4마리의 폰켓몬 중 2마리를 고르는 방법은 다음과 같이 6가지가 있습니다.

- 첫 번째(3번), 두 번째(1번) 폰켓몬을 선택
- 첫 번째(3번), 세 번째(2번) 폰켓몬을 선택
- 첫 번째(3번), 네 번째(3번) 폰켓몬을 선택
- 두 번째(1번), 세 번째(2번) 폰켓몬을 선택
- 두 번째(1번), 네 번째(3번) 폰켓몬을 선택
- 세 번째(2번), 네 번째(3번) 폰켓몬을 선택

이때, 첫 번째(3번) 폰켓몬과 네 번째(3번) 폰켓몬을 선택하는 방법은 한 종류(3번 폰켓몬 두 마리)의 폰켓몬만 가질 수 있지만, 다른 방법들은 모두 두 종류의 폰켓몬을 가질 수 있습니다. 따라서 위 예시에서 가질 수 있는 폰켓몬 종류 수의 최댓값은 2가 됩니다.
당신은 최대한 다양한 종류의 폰켓몬을 가지길 원하기 때문에, 최대한 많은 종류의 폰켓몬을 포함해서 N/2마리를 선택하려 합니다. N마리 폰켓몬의 종류 번호가 담긴 배열 nums가 매개변수로 주어질 때, N/2마리의 폰켓몬을 선택하는 방법 중, 가장 많은 종류의 폰켓몬을 선택하는 방법을 찾아, 그때의 폰켓몬 종류 번호의 개수를 return 하도록 solution 함수를 완성해주세요.

In [57]:
#nums = [3,1,2,3] # result 2
#nums = [3,3,3,2,2,4] # result 3
nums = [3,3,3,2,2,2]

In [55]:
import itertools

for i in itertools.combinations(nums, 2):
    print(i)

(3, 3)
(3, 3)
(3, 2)
(3, 2)
(3, 4)
(3, 3)
(3, 2)
(3, 2)
(3, 4)
(3, 2)
(3, 2)
(3, 4)
(2, 2)
(2, 4)
(2, 4)

In [67]:
if len(set(nums)) <= len(nums)//2 :
    print(len(set(nums))

for i in itertools.combinations(set(nums), len(nums)//2):
    print(len(i))

SyntaxError: invalid syntax (113335333.py, line 4)

In [68]:
# 타코
def solution(ls):
    return min(len(ls)/2, len(set(ls)))
# min max.. 내장함수 어떤걸 써서 쉽게 풀 수 있을지 한번 더 생각해보자

### 143. 소수 찾기

1부터 입력받은 숫자 n 사이에 있는 소수의 개수를 반환하는 함수, solution을 만들어 보세요.

소수는 1과 자기 자신으로만 나누어지는 수를 의미합니다.
(1은 소수가 아닙니다.)

In [7]:
import math

n = 5
array = [True for i in range(n + 1)]


for i in range (2, int(math.sqrt(n))+1) :
    if array[i] == True:
        j = 2
        while i * j <= n:
            array[i*j]=False
            j += 1


for i in range(2, n + 1):
    if array[i]:
        print(i, end = ' ')
        
len([i for i in range(2, n+1) if array[i]])

2 3 5

3

In [2]:
n = 10**0.5

NameError: name 'n' is not defined

### 144. 소수 만들기

주어진 숫자 중 3개의 수를 더했을 때 소수가 되는 경우의 개수를 구하려고 합니다. 숫자들이 들어있는 배열 nums가 매개변수로 주어질 때, nums에 있는 숫자들 중 서로 다른 3개를 골라 더했을 때 소수가 되는 경우의 개수를 return 하도록 solution 함수를 완성해주세요.

In [11]:
import math

n = 3000
array = [True for i in range(n + 1)]


for i in range (2, int(math.sqrt(n))+1) :
    if array[i] == True:
        j = 2
        while i * j <= n:
            array[i*j]=False
            j += 1


prime_list = [i for i in range(2, n + 1) if array[i]]

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97,
 101,
 103,
 107,
 109,
 113,
 127,
 131,
 137,
 139,
 149,
 151,
 157,
 163,
 167,
 173,
 179,
 181,
 191,
 193,
 197,
 199,
 211,
 223,
 227,
 229,
 233,
 239,
 241,
 251,
 257,
 263,
 269,
 271,
 277,
 281,
 283,
 293,
 307,
 311,
 313,
 317,
 331,
 337,
 347,
 349,
 353,
 359,
 367,
 373,
 379,
 383,
 389,
 397,
 401,
 409,
 419,
 421,
 431,
 433,
 439,
 443,
 449,
 457,
 461,
 463,
 467,
 479,
 487,
 491,
 499,
 503,
 509,
 521,
 523,
 541,
 547,
 557,
 563,
 569,
 571,
 577,
 587,
 593,
 599,
 601,
 607,
 613,
 617,
 619,
 631,
 641,
 643,
 647,
 653,
 659,
 661,
 673,
 677,
 683,
 691,
 701,
 709,
 719,
 727,
 733,
 739,
 743,
 751,
 757,
 761,
 769,
 773,
 787,
 797,
 809,
 811,
 821,
 823,
 827,
 829,
 839,
 853,
 857,
 859,
 863,
 877,
 881,
 883,
 887,
 907,
 911,
 919,
 929,
 937,
 941,
 947,
 953,
 967,
 971,
 977,
 983,
 991,
 997,
 1009,
 1013,
 1019,
 1021,
 1031,
 1033,
 1039,
 1049,
 1051,
 1061,
 1063,
 1069,
 1087,
 1091,
 1093,
 1097,
 1103,
 1109,
 1117,
 1123,
 1129,
 1151,
 1153,
 1163,
 1171,
 1181,
 1187,
 1193,
 1201,
 1213,
 1217,
 1223,
 1229,
 1231,
 1237,
 1249,
 1259,
 1277,
 1279,
 1283,
 1289,
 1291,
 1297,
 1301,
 1303,
 1307,
 1319,
 1321,
 1327,
 1361,
 1367,
 1373,
 1381,
 1399,
 1409,
 1423,
 1427,
 1429,
 1433,
 1439,
 1447,
 1451,
 1453,
 1459,
 1471,
 1481,
 1483,
 1487,
 1489,
 1493,
 1499,
 1511,
 1523,
 1531,
 1543,
 1549,
 1553,
 1559,
 1567,
 1571,
 1579,
 1583,
 1597,
 1601,
 1607,
 1609,
 1613,
 1619,
 1621,
 1627,
 1637,
 1657,
 1663,
 1667,
 1669,
 1693,
 1697,
 1699,
 1709,
 1721,
 1723,
 1733,
 1741,
 1747,
 1753,
 1759,
 1777,
 1783,
 1787,
 1789,
 1801,
 1811,
 1823,
 1831,
 1847,
 1861,
 1867,
 1871,
 1873,
 1877,
 1879,
 1889,
 1901,
 1907,
 1913,
 1931,
 1933,
 1949,
 1951,
 1973,
 1979,
 1987,
 1993,
 1997,
 1999,
 2003,
 2011,
 2017,
 2027,
 2029,
 2039,
 2053,
 2063,
 2069,
 2081,
 2083,
 2087,
 2089,
 2099,
 2111,
 2113,
 2129,
 2131,
 2137,
 2141,
 2143,
 2153,
 2161,
 2179,
 2203,
 2207,
 2213,
 2221,
 2237,
 2239,
 2243,
 2251,
 2267,
 2269,
 2273,
 2281,
 2287,
 2293,
 2297,
 2309,
 2311,
 2333,
 2339,
 2341,
 2347,
 2351,
 2357,
 2371,
 2377,
 2381,
 2383,
 2389,
 2393,
 2399,
 2411,
 2417,
 2423,
 2437,
 2441,
 2447,
 2459,
 2467,
 2473,
 2477,
 2503,
 2521,
 2531,
 2539,
 2543,
 2549,
 2551,
 2557,
 2579,
 2591,
 2593,
 2609,
 2617,
 2621,
 2633,
 2647,
 2657,
 2659,
 2663,
 2671,
 2677,
 2683,
 2687,
 2689,
 2693,
 2699,
 2707,
 2711,
 2713,
 2719,
 2729,
 2731,
 2741,
 2749,
 2753,
 2767,
 2777,
 2789,
 2791,
 2797,
 2801,
 2803,
 2819,
 2833,
 2837,
 2843,
 2851,
 2857,
 2861,
 2879,
 2887,
 2897,
 2903,
 2909,
 2917,
 2927,
 2939,
 2953,
 2957,
 2963,
 2969,
 2971,
 2999]

In [20]:
nums = [1,2,7,6,4]

import itertools

count=0
for i in list(itertools.combinations(nums, 3)):
    if sum(i) in [i for i in range(2, n + 1) if array[i]] :
        count+= 1
print(count)

4

### 145. 실패율

슈퍼 게임 개발자 오렐리는 큰 고민에 빠졌다. 그녀가 만든 프랜즈 오천성이 대성공을 거뒀지만, 요즘 신규 사용자의 수가 급감한 것이다. 원인은 신규 사용자와 기존 사용자 사이에 스테이지 차이가 너무 큰 것이 문제였다.

이 문제를 어떻게 할까 고민 한 그녀는 동적으로 게임 시간을 늘려서 난이도를 조절하기로 했다. 역시 슈퍼 개발자라 대부분의 로직은 쉽게 구현했지만, 실패율을 구하는 부분에서 위기에 빠지고 말았다. 오렐리를 위해 실패율을 구하는 코드를 완성하라.

실패율은 다음과 같이 정의한다.
스테이지에 도달했으나 아직 클리어하지 못한 플레이어의 수 / 스테이지에 도달한 플레이어 수
전체 스테이지의 개수 N, 게임을 이용하는 사용자가 현재 멈춰있는 스테이지의 번호가 담긴 배열 stages가 매개변수로 주어질 때, 실패율이 높은 스테이지부터 내림차순으로 스테이지의 번호가 담겨있는 배열을 return 하도록 solution 함수를 완성하라.

In [52]:
stages=	[2, 1, 2, 6, 2, 4, 3, 3]
N = 5

In [56]:
#stages.count(1)

total_count=0
for i in range(N):
    #print('현재 스테이지:',i+1)
    #print('스테이지에 클리어 못한 사용자 :',stages.count(i+1))
    total_count += stages.count(i)
    #print('현재 스테이지의 실패율:', stages.count(i+1)/(len(stages) - total_count))
    #print('-----')

현재 스테이지: 1
스테이지에 클리어 못한 사용자 : 1
현재 스테이지의 실패율: 0.125
-----
현재 스테이지: 2
스테이지에 클리어 못한 사용자 : 3
현재 스테이지의 실패율: 0.42857142857142855
-----
현재 스테이지: 3
스테이지에 클리어 못한 사용자 : 2
현재 스테이지의 실패율: 0.5
-----
현재 스테이지: 4
스테이지에 클리어 못한 사용자 : 1
현재 스테이지의 실패율: 0.5
-----
현재 스테이지: 5
스테이지에 클리어 못한 사용자 : 0
현재 스테이지의 실패율: 0.0
-----

In [68]:
stages=	[2, 1, 2, 6, 2, 4, 3, 3]
N = 5

total_count=0
for i in range(N):
    print(i)
    total_count += stages.count(i)
    zip_list=zip(i+1, stages.count(i+1)/(len(stages) - total_count))

0

TypeError: 'int' object is not iterable

[0.125, 0.42857142857142855, 0.5, 0.5, 0.0]

In [90]:
res= [(fail_ratio.index(i)+1) for i in sorted(fail_ratio, reverse=True)]

[3, 3, 2, 1, 5]

In [91]:
#타코

def solution(N, stages):
    result = {}
    denominator = len(stages)
    for stage in range(1, N+1):
        if denominator != 0:
            count = stages.count(stage)
            result[stage] = count / denominator
            denominator -= count
        else:
            result[stage] = 0
    return sorted(result, key=lambda x : result[x], reverse=True)

#sorted(lambda)에 대해 좀더 이해하고 활용해보자....

### 146. 콜라 문제

오래전 유행했던 콜라 문제가 있습니다. 콜라 문제의 지문은 다음과 같습니다.

정답은 아무에게도 말하지 마세요.

콜라 빈 병 2개를 가져다주면 콜라 1병을 주는 마트가 있다. 빈 병 20개를 가져다주면 몇 병을 받을 수 있는가?

단, 보유 중인 빈 병이 2개 미만이면, 콜라를 받을 수 없다.

문제를 풀던 상빈이는 콜라 문제의 완벽한 해답을 찾았습니다. 상빈이가 푼 방법은 아래 그림과 같습니다. 우선 콜라 빈 병 20병을 가져가서 10병을 받습니다. 받은 10병을 모두 마신 뒤, 가져가서 5병을 받습니다. 5병 중 4병을 모두 마신 뒤 가져가서 2병을 받고, 또 2병을 모두 마신 뒤 가져가서 1병을 받습니다. 받은 1병과 5병을 받았을 때 남은 1병을 모두 마신 뒤 가져가면 1병을 또 받을 수 있습니다. 이 경우 상빈이는 총 10 + 5 + 2 + 1 + 1 = 19병의 콜라를 받을 수 있습니다.

![](https://grepp-programmers.s3.ap-northeast-2.amazonaws.com/files/production/95ce1c11-2f21-4248-8bfc-e330299cbb9a/image6.PNG)

문제를 열심히 풀던 상빈이는 일반화된 콜라 문제를 생각했습니다. 이 문제는 빈 병 a개를 가져다주면 콜라 b병을 주는 마트가 있을 때, 빈 병 n개를 가져다주면 몇 병을 받을 수 있는지 계산하는 문제입니다. 기존 콜라 문제와 마찬가지로, 보유 중인 빈 병이 a개 미만이면, 추가적으로 빈 병을 받을 순 없습니다. 상빈이는 열심히 고심했지만, 일반화된 콜라 문제의 답을 찾을 수 없었습니다. 상빈이를 도와, 일반화된 콜라 문제를 해결하는 프로그램을 만들어 주세요.

콜라를 받기 위해 마트에 주어야 하는 병 수 a, 빈 병 a개를 가져다 주면 마트가 주는 콜라 병 수 b, 상빈이가 가지고 있는 빈 병의 개수 n이 매개변수로 주어집니다. 상빈이가 받을 수 있는 콜라의 병 수를 return 하도록 solution 함수를 작성해주세요.

In [1]:
a, b, n = 2, 1, 20

In [13]:
a,b,n = 3,1,20

free = 0
last = 0

while n//a >= 1:
    free += n//a*b
    last = n%a
    n = last + n//a*b
    last = 0
    if n//a < 1:
        break
print(free, last)

9 0

In [ ]:
# 타코
solution = lambda a, b, n: max(n - b, 0) // (a - b) * b
#이거 맞아?
# 한꺼번에 계산하지 않고 a개만 팔고 b개를 받는 과정은 결국 a-b 개씩 병을 소비하는 것으로 생각, 첫번째 진행할 때는 a개만 소비되기 때문에, b만큼 못받음(-b), 그 조건을 먼저 계산 n-b 반복횟수는 n-b // (a-b) 여기에 받는 병수 b 곱한 것 .. 이렇게 풀수도 있군요 ㅎㅎ

### 147. [1차] 다트 게임

카카오톡 게임별의 하반기 신규 서비스로 다트 게임을 출시하기로 했다. 다트 게임은 다트판에 다트를 세 차례 던져 그 점수의 합계로 실력을 겨루는 게임으로, 모두가 간단히 즐길 수 있다.
갓 입사한 무지는 코딩 실력을 인정받아 게임의 핵심 부분인 점수 계산 로직을 맡게 되었다. 다트 게임의 점수 계산 로직은 아래와 같다.

- 다트 게임은 총 3번의 기회로 구성된다.
- 각 기회마다 얻을 수 있는 점수는 0점에서 10점까지이다.
- 점수와 함께 Single(S), Double(D), Triple(T) 영역이 존재하고 각 영역 당첨 시 점수에서 1제곱, 2제곱, 3제곱 (점수1 , 점수2 , 점수3 )으로 계산된다.
- 옵션으로 스타상(*) , 아차상(#)이 존재하며 스타상(*) 당첨 시 해당 점수와 바로 전에 얻은 점수를 각 2배로 만든다. 아차상(#) 당첨 시 해당 점수는 마이너스된다.
- 스타상(*)은 첫 번째 기회에서도 나올 수 있다. 이 경우 첫 번째 스타상(*)의 점수만 2배가 된다. (예제 4번 참고)
- 스타상(*)의 효과는 다른 스타상(*)의 효과와 중첩될 수 있다. 이 경우 중첩된 스타상(*) 점수는 4배가 된다. (예제 4번 참고)
- 스타상(*)의 효과는 아차상(#)의 효과와 중첩될 수 있다. 이 경우 중첩된 아차상(#)의 점수는 -2배가 된다. (예제 5번 참고)
- Single(S), Double(D), Triple(T)은 점수마다 하나씩 존재한다.
- 스타상(*), 아차상(#)은 점수마다 둘 중 하나만 존재할 수 있으며, 존재하지 않을 수도 있다.
0~10의 정수와 문자 S, D, T, *, #로 구성된 문자열이 입력될 시 총점수를 반환하는 함수를 작성하라.

In [2]:
dR = '1D2S#10S'

In [4]:
numlist = []

for i in dR:
    print(i)
    if i.isdigit() == True :
        numlist.append(i)
        if i=='0':
            print('---')
            print(i[-1],i)

1
D
2
S
#
1
0
---
0 0
S

In [30]:
import re

d = '1D2S#10S'
m = re.findall('\d{1,2}', d)
print(m)
# m은 세개의 숫자 점수 리스트! 각 원소에 대해 특수 계산을 마치고 다 더해주면 answer값!!
n = re.findall('\D{1,2}', d)
print(n)
# n은 세개의 숫자에 붙은 특수 계산 기호들!

['1', '2', '10']
['D', 'S#', 'S']

In [25]:
for i in m:
    print(i)
    if

1
2
10

In [32]:
def solution(dartResult):
    n = ''
    score = []
    for i in dartResult:
        if i.isnumeric():
            n += i
        elif i == 'S':
            n = int(n)**1
            score.append(n)
            n = ''
        elif i == 'D':
            n = int(n)**2
            score.append(n)
            n = ''
        elif i == 'T':
            n = int(n)**3
            score.append(n)
            n = ''
        elif i == '*':
            if len(score) > 1:
                score[-2] = score[-2] * 2
                score[-1] = score[-1] * 2
            else:
                score[-1] = score[-1] * 2
        elif i == '#':
            score[-1] = score[-1] * -1
        
    return sum(score)

In [31]:
#타코 정규 표현식 사용법을 잘 봐두자~!
def solution(dartResult):
    bonus = {'S' : 1, 'D' : 2, 'T' : 3}
    option = {'' : 1, '*' : 2, '#' : -1}
    p = re.compile('(\d+)([SDT])([*#]?)')
    dart = p.findall(dartResult)
    for i in range(len(dart)):
        if dart[i][2] == '*' and i > 0:
            dart[i-1] *= 2
        dart[i] = int(dart[i][0]) ** bonus[dart[i][1]] * option[dart[i][2]]

    answer = sum(dart)
    return answer

### 148. 푸드 파이트 대회

수웅이는 매달 주어진 음식을 빨리 먹는 푸드 파이트 대회를 개최합니다. 이 대회에서 선수들은 1대 1로 대결하며, 매 대결마다 음식의 종류와 양이 바뀝니다. 대결은 준비된 음식들을 일렬로 배치한 뒤, 한 선수는 제일 왼쪽에 있는 음식부터 오른쪽으로, 다른 선수는 제일 오른쪽에 있는 음식부터 왼쪽으로 순서대로 먹는 방식으로 진행됩니다. 중앙에는 물을 배치하고, 물을 먼저 먹는 선수가 승리하게 됩니다.

이때, 대회의 공정성을 위해 두 선수가 먹는 음식의 종류와 양이 같아야 하며, 음식을 먹는 순서도 같아야 합니다. 또한, 이번 대회부터는 칼로리가 낮은 음식을 먼저 먹을 수 있게 배치하여 선수들이 음식을 더 잘 먹을 수 있게 하려고 합니다. 이번 대회를 위해 수웅이는 음식을 주문했는데, 대회의 조건을 고려하지 않고 음식을 주문하여 몇 개의 음식은 대회에 사용하지 못하게 되었습니다.

예를 들어, 3가지의 음식이 준비되어 있으며, 칼로리가 적은 순서대로 1번 음식을 3개, 2번 음식을 4개, 3번 음식을 6개 준비했으며, 물을 편의상 0번 음식이라고 칭한다면, 두 선수는 1번 음식 1개, 2번 음식 2개, 3번 음식 3개씩을 먹게 되므로 음식의 배치는 "1223330333221"이 됩니다. 따라서 1번 음식 1개는 대회에 사용하지 못합니다.

수웅이가 준비한 음식의 양을 칼로리가 적은 순서대로 나타내는 정수 배열 food가 주어졌을 때, 대회를 위한 음식의 배치를 나타내는 문자열을 return 하는 solution 함수를 완성해주세요.

In [51]:
answer=''
food=[1,3,2,3]

for f in food[1:]:
    print(f)
    print(str(food.index(f))*(f//2))
    print('-----')
    answer+=str(food.index(f))*(f//2)
print(answer,'0',answer[::-1])
print(''.join(answer+'0'+answer[::-1]))

3
1
-----
2
2
-----
3
1
-----
121 0 121
1210121

In [56]:
prior=[(x,y) for x,y in enumerate(food)]

print(prior)

[(0, 1), (1, 3), (2, 2), (3, 3)]

In [57]:
for i in prior:
    print(i)

(0, 1)
(1, 3)
(2, 2)
(3, 3)

In [69]:
answer=''
for i in range(len(prior)-1):
    print(prior[i+1][0])
    print(prior[i+1][1]//2)
    print('------')
    answer+= str(prior[i+1][0])*(prior[i+1][1]//2)
print(answer)
print(answer,'0',answer[::-1])
print(''.join(answer+'0'+answer[::-1]))

1
1
------
2
1
------
3
1
------
123
123 0 321
1230321

In [67]:
'1'*3

'111'

### 149. 로또의 최고 순위와 최저 순위

로또 6/45(이하 '로또'로 표기)는 1부터 45까지의 숫자 중 6개를 찍어서 맞히는 대표적인 복권입니다. 아래는 로또의 순위를 정하는 방식입니다. 1

|순위|	당첨 내용|
|:---:|:---:|
|1	|6개 번호가 모두 일치|
2	|5개 번호가 일치|
3	|4개 번호가 일치|
4	|3개 번호가 일치|
5	|2개 번호가 일치|
6(낙첨)|	그 외|
로또를 구매한 민우는 당첨 번호 발표일을 학수고대하고 있었습니다. 하지만, 민우의 동생이 로또에 낙서를 하여, 일부 번호를 알아볼 수 없게 되었습니다. 당첨 번호 발표 후, 민우는 자신이 구매했던 로또로 당첨이 가능했던 최고 순위와 최저 순위를 알아보고 싶어 졌습니다.
알아볼 수 없는 번호를 0으로 표기하기로 하고, 민우가 구매한 로또 번호 6개가 44, 1, 0, 0, 31 25라고 가정해보겠습니다. 당첨 번호 6개가 31, 10, 45, 1, 6, 19라면, 당첨 가능한 최고 순위와 최저 순위의 한 예는 아래와 같습니다.

|당첨 번호	|31|	10|	45|	1	|6|	19|	결과|
|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|
|최고 순위 번호|	31|	0→10|	44|	1|	0→6|	25	|4개 번호 일치, 3등
|최저 순위 번호	|31	|0→11	|44|	1|	0→7	|25|	2개 번호 일치, 5등
순서와 상관없이, 구매한 로또에 당첨 번호와 일치하는 번호가 있으면 맞힌 걸로 인정됩니다.
알아볼 수 없는 두 개의 번호를 각각 10, 6이라고 가정하면 3등에 당첨될 수 있습니다.
3등을 만드는 다른 방법들도 존재합니다. 하지만, 2등 이상으로 만드는 것은 불가능합니다.
알아볼 수 없는 두 개의 번호를 각각 11, 7이라고 가정하면 5등에 당첨될 수 있습니다.
5등을 만드는 다른 방법들도 존재합니다. 하지만, 6등(낙첨)으로 만드는 것은 불가능합니다.
민우가 구매한 로또 번호를 담은 배열 lottos, 당첨 번호를 담은 배열 win_nums가 매개변수로 주어집니다. 이때, 당첨 가능한 최고 순위와 최저 순위를 차례대로 배열에 담아서 return 하도록 solution 함수를 완성해주세요.

In [90]:
lottos = [45, 4, 35, 20, 3, 9]
win_nums =[20, 9, 3, 45, 4, 35]
zero_count=0
cor_lotto = {1:6, 2:5, 3:4, 4:3, 5:2, 6:1, 7:0, 0:6}

for l in lottos:
    #print(l)
    if l in win_nums :
        count+=1
    elif l == 0 :
        zero_count+=1
print(count) #0을 제외한 현재 맞춘 개수
print(zero_count)

# count의 개수에서 0의 개수만큼 더해준값이 최고값
# count의 개수가 최저값

print(count+zero_count)

[cor_lotto[count+zero_count], cor_lotto[count]]

6
0
6

[1, 1]

In [ ]:
def solution(lottos, win_nums):
    
    rank=[6,6,5,4,3,2,1]

    cnt_0 = lottos.count(0)
    ans = 0
    for x in win_nums:
        if x in lottos:
            ans += 1
    return rank[cnt_0 + ans],rank[ans]
# 타코 ; 굳이 딕셔너리까지 쓸 필요도 없었는데, 간단하게 리스트배열로 인덱스값찾는걸로 가면 될것을...

### 150. 체육복

점심시간에 도둑이 들어, 일부 학생이 체육복을 도난당했습니다. 다행히 여벌 체육복이 있는 학생이 이들에게 체육복을 빌려주려 합니다. 학생들의 번호는 체격 순으로 매겨져 있어, 바로 앞번호의 학생이나 바로 뒷번호의 학생에게만 체육복을 빌려줄 수 있습니다. 예를 들어, 4번 학생은 3번 학생이나 5번 학생에게만 체육복을 빌려줄 수 있습니다. 체육복이 없으면 수업을 들을 수 없기 때문에 체육복을 적절히 빌려 최대한 많은 학생이 체육수업을 들어야 합니다.

전체 학생의 수 n, 체육복을 도난당한 학생들의 번호가 담긴 배열 lost, 여벌의 체육복을 가져온 학생들의 번호가 담긴 배열 reserve가 매개변수로 주어질 때, 체육수업을 들을 수 있는 학생의 최댓값을 return 하도록 solution 함수를 작성해주세요.

In [102]:
n = 5
lost = [2,4]
reserve = [3]
borrow = 0

for l in lost:
    print(l-1,l+1)
    if l-1 or l+1 in reserve:
        borrow+=1
        reserve
        
print(borrow)


answer =n - len(lost) + borrow
print(answer)

1 3
3 5

AttributeError: 'int' object has no attribute 'pop'

In [122]:
n = 5
lost = [2,4]
reserve = [3]
borrow = 0

ava_borrow =[]
for i in reserve :
    temp=[]
    #print(i)
    #print(i-1,i,i+1)
    temp.append(i-1)
    temp.append(i)
    temp.append(i+1)
    #print(temp)
    ava_borrow.append(temp)
print(ava_borrow)

for l in lost:
    #print(l-1,l+1)
    for j in ava_borrow:
        if l in j :
            borrow+=1
            j = ''
            break
#     if l in ava_borrow:
#         borrow+=1
#         ava_borrow=ava_borrow[1:]
print(borrow)
answer =n - len(lost) + borrow
print(answer)

[[2, 3, 4]]
2
5

In [124]:
def solution(n, lost, reserve):
    reserve_student = set(reserve) - set(lost)
    
    lost_student = set(lost) - set(reserve)
    
    for student in reserve_student:
        if (student - 1) in lost_student:
            lost_student.remove(student - 1)
        elif (student + 1) in lost_student:
            lost_student.remove(student + 1)
            
    return n - len(lost_student)