In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('insurance.csv')

In [5]:
data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [6]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

변수 해석
0.제1순위 보험금 수령인의 나이
1 계약자의 성별
2 bmi 
3 건강보험 적용 자녀 수
4 흡연여부
5 수혜자의 주거 지역
6 보험료

In [9]:
data[data.duplicated()]

     age   sex    bmi  children smoker     region    charges
581   19  male  30.59         0     no  northwest  1639.5631

In [10]:
data[data['charges']==1639.5631]

     age   sex    bmi  children smoker     region    charges
195   19  male  30.59         0     no  northwest  1639.5631
581   19  male  30.59         0     no  northwest  1639.5631

In [11]:
data.drop_duplicates()

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1337 rows x 7 columns]

In [12]:
data.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [17]:
col_list = ['sex', 'children', 'smoker', 'region']

for col in col_list :
    
    print(col, '\n', data[col].value_counts())
    print(data[col].unique())
    print('--------')

sex
 male      676
female    662
Name: sex, dtype: int64
['female' 'male']
--------
children
 0    574
1    324
2    240
3    157
4     25
5     18
Name: children, dtype: int64
[0 1 3 2 5 4]
--------
smoker
 no     1064
yes     274
Name: smoker, dtype: int64
['yes' 'no']
--------
region
 southeast    364
southwest    325
northwest    325
northeast    324
Name: region, dtype: int64
['southwest' 'southeast' 'northwest' 'northeast']
--------

In [18]:
data.groupby('smoker')['charges'].mean()

smoker
no      8434.268298
yes    32050.231832
Name: charges, dtype: float64

In [21]:
data.groupby('region')['charges'].describe()

,count,mean,std,min,25%,50%,75%,max
region,,,,,,,,
northeast,324.0,13406.384516,11255.803066,1694.7964,5194.322288,10057.652025,16687.3641,58571.07448
northwest,325.0,12417.575374,11072.276928,1621.3402,4719.736550,8965.795750,14711.7438,60021.39897
southeast,364.0,14735.411438,13971.098589,1121.8739,4440.886200,9294.131950,19526.2869,63770.42801
southwest,325.0,12346.937377,11557.179101,1241.5650,4751.070000,8798.593000,13462.5200,52590.82939

In [30]:
data['charges'].describe()

count     1338.000000
mean     13270.422265
std      12110.011237
min       1121.873900
25%       4740.287150
50%       9382.033000
75%      16639.912515
max      63770.428010
Name: charges, dtype: float64

mean과 50% 차이가 큼! 이상치 제거필요!

In [23]:
q1=data['charges'].quantile(0.25)     # Q1

In [24]:
q3= data['charges'].quantile(0.75)     # Q3

In [25]:
outlier = q3 + (q3-q1) *1.5     #이상치 구간 설정 (신뢰도 99.7%)

In [26]:
data['charges'].describe()

count     1338.000000
mean     13270.422265
std      12110.011237
min       1121.873900
25%       4740.287150
50%       9382.033000
75%      16639.912515
max      63770.428010
Name: charges, dtype: float64

In [27]:
data[data['charges'] >outlier]

      age     sex     bmi  children smoker     region      charges
14     27    male  42.130         0    yes  southeast  39611.75770
19     30    male  35.300         0    yes  southwest  36837.46700
23     34  female  31.920         1    yes  northeast  37701.87680
29     31    male  36.300         2    yes  southwest  38711.00000
30     22    male  35.600         0    yes  southwest  35585.57600
...   ...     ...     ...       ...    ...        ...          ...
1300   45    male  30.360         0    yes  southeast  62592.87309
1301   62    male  30.875         3    yes  northwest  46718.16325
1303   43    male  27.800         0    yes  southwest  37829.72420
1313   19  female  34.700         2    yes  southwest  36397.57600
1323   42  female  40.370         2    yes  southeast  43896.37630

[139 rows x 7 columns]

In [28]:
data1=data[data['charges'] <= outlier]

In [29]:
data1

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1199 rows x 7 columns]

이상치를 제거한 data1

In [31]:
from sklearn.preprocessing import LabelEncoder

In [35]:
obj_col = ['sex','smoker','region']

for col in obj_col :
    label= LabelEncoder()
    label.fit(data1[col].unique())
    data1[col] = label.transform(data1[col])

C:\Users\jjanw\AppData\Local\Temp\ipykernel_20620\3736969488.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1[col] = label.transform(data1[col])

In [36]:
data1

      age  sex     bmi  children  smoker  region      charges
0      19    0  27.900         0       1       3  16884.92400
1      18    1  33.770         1       0       2   1725.55230
2      28    1  33.000         3       0       2   4449.46200
3      33    1  22.705         0       0       1  21984.47061
4      32    1  28.880         0       0       1   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    1  30.970         3       0       1  10600.54830
1334   18    0  31.920         0       0       0   2205.98080
1335   18    0  36.850         0       0       2   1629.83350
1336   21    0  25.800         0       0       3   2007.94500
1337   61    0  29.070         0       1       1  29141.36030

[1199 rows x 7 columns]

In [37]:
import pandas as pd
import sklearn.datasets
from sklearn.model_selection import train_test_split #학습과 테스트 데이터로 나누기
from sklearn.linear_model import LinearRegression  #첫번쨰 모델
from sklearn.metrics import mean_absolute_error  #오차값 계산
from sklearn.ensemble import GradientBoostingRegressor  #두번째 모델

In [38]:
model = LinearRegression()

In [39]:
x = data1.drop(['charges'], axis=1)

In [40]:
y = data1['charges']

In [41]:
x_train, x_test, y_train, y_test = train_test_split(x,y,random_state=0, test_size=0.2)

In [42]:
model.fit(x_train,y_train)

LinearRegression()

In [43]:
pre_train= model.predict(x_train)

In [44]:
mean_absolute_error(pre_train, y_train)

2608.816961892199

In [46]:
pre_test = model.predict(x_test)

In [47]:
mean_absolute_error(pre_test, y_test)

2441.848063751917

In [49]:
model.score(x_test, y_test)

0.6262218092603857

In [50]:
from sklearn.preprocessing import PolynomialFeatures

In [51]:
pol= PolynomialFeatures(degree=2)

In [52]:
x_pol = pol.fit_transform(x)

In [53]:
x_pol

array([[ 1., 19.,  0., ...,  1.,  3.,  9.],
       [ 1., 18.,  1., ...,  0.,  0.,  4.],
       [ 1., 28.,  1., ...,  0.,  0.,  4.],
       ...,
       [ 1., 18.,  0., ...,  0.,  0.,  4.],
       [ 1., 21.,  0., ...,  0.,  0.,  9.],
       [ 1., 61.,  0., ...,  1.,  1.,  1.]])

In [54]:
pol.get_feature_names()

C:\Users\jjanw\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['1',
 'x0',
 'x1',
 'x2',
 'x3',
 'x4',
 'x5',
 'x0^2',
 'x0 x1',
 'x0 x2',
 'x0 x3',
 'x0 x4',
 'x0 x5',
 'x1^2',
 'x1 x2',
 'x1 x3',
 'x1 x4',
 'x1 x5',
 'x2^2',
 'x2 x3',
 'x2 x4',
 'x2 x5',
 'x3^2',
 'x3 x4',
 'x3 x5',
 'x4^2',
 'x4 x5',
 'x5^2']

In [55]:
from sklearn.ensemble import RandomForestRegressor

forest = RandomForestRegressor(n_estimators = 100, criterion='mes', random_state= ,

머신러닝의 여러가지 방법 케글에서 찾아서 보면서 익혀볼것!