In [1]:
import math

In [2]:
math

In [3]:
r = 10

In [4]:
2 * math.pi * r

62.83185307179586

In [5]:
math.ceil(2.5)

3

In [6]:
math.floor(2.5)

2

In [7]:
import random

In [8]:
candidates =['가위', '바위', '보']

In [19]:
selected = random.choice(candidates)
print(selected)

보

In [20]:
selected = random.choice(candidates)
print(selected)

바위

In [21]:
selected = random.choice(candidates)
print(selected)

가위

In [23]:
def get_web(url):
    import urllib.request
    response = urllib.request.urlopen(url)
    data = response.read()
    decoded = data.decode('utf-8')
    return decoded

In [28]:
url = input('웹페이지 주소?')
content = get_web(url)
print(content)

<!doctype html>
<html>
<head>
    <title>Example Domain</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style type="text/css">
    body {
        background-color: #f0f0f2;
        margin: 0;
        padding: 0;
        font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

    }
    div {
        width: 600px;
        margin: 5em auto;
        padding: 2em;
        background-color: #fdfdff;
        border-radius: 0.5em;
        box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);
    }
    a:link, a:visited {
        color: #38488f;
        text-decoration: none;
    }
    @media (max-width: 700px) {
        div {
            margin: 0 auto;
            width: auto;
        }
    }
    </style>
</head>

<body>
<div>
    <h1>Example Domain</h1>
    <p>This domain is for use in illustrative examples in documents. You may use this
    domain in literature without prior coordination or asking for permission.</p>
    <p><a href="https://www.iana.org/domains/example">More information...</a></p>
</div>
</body>
</html>

In [29]:
import my_module

In [30]:
print(my_module.random_rsp())

바위

In [31]:
print(my_module.random_rsp())

보

In [47]:
selected = my_module.random_rsp()

In [48]:
print(selected)

바위

In [49]:
import my_module

In [50]:
print('가위?', my_module.PAPER == selected)

AttributeError: module 'my_module' has no attribute 'PAPER'

In [52]:
my_module.SCISSOR

AttributeError: module 'my_module' has no attribute 'SCISSOR'

In [54]:
import datetime, time

datetime.date.today()

datetime.date(2023, 1, 25)

In [55]:
now = datetime.datetime.now()

In [57]:
print(now.year, now.month, now.day)

2023 1 25

In [58]:
now

datetime.datetime(2023, 1, 25, 20, 9, 19, 9318)

In [59]:
random.random()

0.2926148356375532

In [60]:
random.uniform(1,10)

4.836680560197155

In [61]:
random.uniform(1,100)

46.03192057851256

In [62]:
# python.org
# stackoverflow.com

In [63]:
wintable = {
    '가위':'보',
    '바위':'가위',
    '보':'바위'
}

In [64]:
print(wintable['가위'])

보

In [65]:
words= ['a','b','c']
print(words[1])

b

In [66]:
def rsp(mine, yours):
    if mine == yours:
        return 'draw'
    elif wintable[mine] == yours:
        return 'win'
    else:
        return 'lose'

In [71]:
result = rsp('바위','바위')
print(result)

draw

In [72]:
messages = {
    'win':'이겼다!',
    'draw':'비겼네.',
    'lose':'졌어...'
}

In [73]:
print(messages[result])

비겼네.

In [74]:
list = [1,2,3,4,5]

In [75]:
list

[1, 2, 3, 4, 5]

In [76]:
list[2] = 33

In [77]:
list

[1, 2, 33, 4, 5]

In [78]:
list[5] = 6

IndexError: list assignment index out of range

In [79]:
list.append(6)

In [80]:
list

[1, 2, 33, 4, 5, 6]

In [81]:
dict = {'one' : 1, 'two' : 2}

In [82]:
dict

{'one': 1, 'two': 2}

In [83]:
dict['one'] = 11

In [84]:
dict

{'one': 11, 'two': 2}

In [85]:
dict['three'] = 3

In [86]:
dict

{'one': 11, 'two': 2, 'three': 3}

In [101]:
del (list[0])

In [102]:
list

[6]

In [89]:
del (dict['one'])

In [90]:
dict

{'two': 2, 'three': 3}

In [91]:
print(list.pop(0))

2

In [92]:
list

[33, 4, 5, 6]

In [93]:
print(dict['two'])

2

In [94]:
dict

{'two': 2, 'three': 3}

In [95]:
print(dict.pop('two'))

2

In [96]:
dict

{'three': 3}

In [103]:
seasons = ['봄', '여름', '가을', '겨울']

In [104]:
for season in seasons:
    print(season)

봄
여름
가을
겨울

In [105]:
ages = {
    'Tod':35,
    'Jane':23,
    'Paul':62
}

In [106]:
ages

{'Tod': 35, 'Jane': 23, 'Paul': 62}

In [113]:
for key in ages.keys():
    print(key)

Tod
Jane
Paul

In [114]:
for value in ages.values():
    print(value)

35
23
62

In [116]:
for key in ages.keys():
    print(f'{key}의 나이는 {ages[key]}입니다.')

Tod의 나이는 35입니다.
Jane의 나이는 23입니다.
Paul의 나이는 62입니다.

In [117]:
for key in ages:  # keys() 생략 가능!
    print(f'{key}의 나이는 {ages[key]}입니다.')

Tod의 나이는 35입니다.
Jane의 나이는 23입니다.
Paul의 나이는 62입니다.

In [118]:
for key, value in ages.items():
    print(f'{key}의 나이는 {value}입니다.')

Tod의 나이는 35입니다.
Jane의 나이는 23입니다.
Paul의 나이는 62입니다.

In [119]:
list = [1,2,3,4,5]
dict = {'one' : 1, 'two' : 2}

In [120]:
list[0]

1

In [121]:
dict['one']

1

In [122]:
del(list[0])

In [123]:
list

[2, 3, 4, 5]

In [124]:
del(dict['one'])

In [125]:
dict

{'two': 2}

In [126]:
len(dict)

1

In [127]:
len(list)

4

In [128]:
2 in list

True

In [129]:
7 in list

False

In [130]:
'two' in dict.keys()

True

In [131]:
2 in dict.values()

True

In [132]:
32 in dict.values()

False

In [133]:
dict.clear()

In [134]:
list.clear(

)

In [135]:
dict

{}

In [136]:
list

[]

In [137]:
list = [1,2,3,4,5]
dict = {'one' : 1, 'two' : 2}

In [138]:
list[2]

3

In [139]:
list.pop(0)

1

In [140]:
list

[2, 3, 4, 5]

In [141]:
list[2]

4

In [142]:
dict.pop('one')

1

In [143]:
dict['two']

2

In [144]:
big_list = [1,2,3] + [4,5,6]

In [145]:
big_list

[1, 2, 3, 4, 5, 6]

In [149]:
dict1 = {1:100, 2:200}
dict2 = {1:1000, 3: 300}

In [147]:
dict1.update(dict2)

In [148]:
dict1

{1: 1000, 2: 200, 3: 300}

In [150]:
dict2.update(dict1)

In [151]:
dict2

{1: 100, 3: 300, 2: 200}

In [152]:
tuple1 = (1,2,3)

In [153]:
type(tuple1)

tuple

In [154]:
tuple2 = 1,2,3

In [155]:
tuple2

(1, 2, 3)

In [156]:
type(tuple2)

tuple

In [157]:
list1 = [1,2,3]

In [164]:
tuple3 = tuple(list1)

In [165]:
tuple3

(5, 2, 3)

In [166]:
tuple3[0]

5

In [167]:
tuple3[1]

2

In [168]:
tuple3[0] = 5

TypeError: 'tuple' object does not support item assignment

In [169]:
tuple3

(5, 2, 3)

In [170]:
a,b = 1,2

In [171]:
a

1

In [172]:
b

2

In [173]:
c = (3,4)

In [174]:
c

(3, 4)

In [175]:
d, e = c

In [176]:
d

3

In [177]:
e

4

In [178]:
f = d, e

In [179]:
f

(3, 4)

In [180]:
x = 5
y = 10

In [181]:
temp = x
x = y
y = temp

In [182]:
x

10

In [183]:
y

5

In [190]:
x,y = y,x

In [191]:
x

5

In [192]:
y

10

In [193]:
def tuple_func():
    return 1, 2

In [194]:
q,w = tuple_func()

In [195]:
q

1

In [196]:
w

2

In [197]:
list = [1,2,3,4,5]

In [198]:
for i, v in enumerate(list):
    print(f'{i}번째 값: {v}')

0번째 값: 1
1번째 값: 2
2번째 값: 3
3번째 값: 4
4번째 값: 5

In [199]:
for a in enumerate(list):
    print(f'{a[0]}번째 값: {a[1]}')

0번째 값: 1
1번째 값: 2
2번째 값: 3
3번째 값: 4
4번째 값: 5

In [201]:
for a in enumerate(list):
    print('{}번째 값: {}'.format(*a))
    # f-string으론 uppacking 불가능!!

0번째 값: 1
1번째 값: 2
2번째 값: 3
3번째 값: 4
4번째 값: 5

In [202]:
ages = {
    'Tod':35,
    'Jane':23,
    'Paul':62
}

In [203]:
for key, val in ages.items():
    print('{}의 나이는 : {}'.format(key, val))

Tod의 나이는 : 35
Jane의 나이는 : 23
Paul의 나이는 : 62

In [204]:
for i in ages.items():
    print('{}의 나이는 : {}'.format(i[0], i[1]))

Tod의 나이는 : 35
Jane의 나이는 : 23
Paul의 나이는 : 62

In [205]:
for i in ages.items():
    print('{}의 나이는 : {}'.format(*i))

Tod의 나이는 : 35
Jane의 나이는 : 23
Paul의 나이는 : 62

In [207]:
selected = None
while selected not in ['가위','바위','보']:
    selected = input('가위, 바위, 보 중에 선택하세요')
    
print(f'선택된 값은:{selected}')

선택된 값은:가위

In [209]:
selected = None
if selected not in ['가위','바위','보']:
    selected = input('가위, 바위, 보 중에 선택하세요')
    
print(f'선택된 값은:{selected}')

선택된 값은:ㄱ

In [210]:
patterns = ['가위','보','보']

In [211]:
for i in patterns :
    print(i)

가위
보
보

In [212]:
for i in range(len(patterns)):
    print(patterns[i])

가위
보
보

In [213]:
length = len(patterns)
i = 0
while i < length:
    print(patterns[i])
    i = i + 1

가위
보
보

In [214]:
list = [1,2,3,5,7,2,5,237,55]

In [215]:
for val in list:
    if val % 3 == 0:
        print(val)

3
237

In [216]:
for val in list:
    if val % 3 == 0:
        print(val)
        break

3

In [217]:
for i in range(10):
    if i%2 != 0:
        print(i)
        print(i)
        print(i)
        print(i)

1
1
1
1
3
3
3
3
5
5
5
5
7
7
7
7
9
9
9
9

In [218]:
for i in range(10):
    if i%2 == 0:
        continue
    print(i)
    print(i)
    print(i)
    print(i)

1
1
1
1
3
3
3
3
5
5
5
5
7
7
7
7
9
9
9
9

In [219]:
list = []

In [220]:
list[0]

IndexError: list index out of range

In [221]:
text = 'abc'

In [222]:
number = int(text)

ValueError: invalid literal for int() with base 10: 'abc'

In [223]:
text ='100%'
try:
    number = int(text)
except ValueError:
    print('{}는 숫자가 아니네요.'.format(text))

100%는 숫자가 아니네요.

In [228]:
def safe_pop_print(list, index):
    try:
        print(list.pop(index))
    except IndexError:
        print(f'{index} index의 값을 가져올 수 없습니다.')

In [229]:
safe_pop_print([1,2,3],5)

5 index의 값을 가져올 수 없습니다.

In [230]:
def safe_pop_print(list, index):
    if index < len(list):
        print(list.pop(index))
    else:
        print(f'{index} index의 값을 가져올 수 없습니다.')

In [231]:
safe_pop_print([1,2,3],5)

5 index의 값을 가져올 수 없습니다.

In [232]:
try:
    import mm_module
except ImportError:
    print('모듈이 없습니다.')

모듈이 없습니다.

In [233]:
list = []

In [234]:
print(list[0])

IndexError: list index out of range

In [235]:
text = 'abc'

In [236]:
number = int(text)

ValueError: invalid literal for int() with base 10: 'abc'

In [240]:
try:
    # list = []
    # print(list[0])
    
    text = 'abc'
    number = int(text)
except Exception as ex:
    print('에러가 발생했습니다', ex)

에러가 발생했습니다 invalid literal for int() with base 10: 'abc'

In [241]:
def rsp(mine, yours):
    allowed = ['가위','바위','보']
    if mine not in allowed:
        raise ValueError
    if yours not in allowed:
        raise ValueError

In [243]:
try:
    rsp('가위','바')
except ValueError:
    print('잘못된 값을 넣은 것 같습니다')

잘못된 값을 넣은 것 같습니다

In [257]:
school = {'1반':[172,185,193,177,165,189],
          '2반':[165,177,167,180,181]}

In [258]:
try:
    for class_number, students in school.items():
        for student in students:
            if student > 190:
                print(class_number, '반에 190 넘는 학생이 있습니다')
                # break
                raise StopIteration
except StopIteration:
    print('정상종료')

1반 반에 190 넘는 학생이 있습니다
정상종료

In [259]:
a = 10
if a < 0 and 2**a > 1000 and a % 5 == 2 and round(a) == a:
    print("복잡한 식")

In [260]:
def return_false():
    print("함수 return_false")
    return False

def return_true():
    print("함수 return_true")
    return True

In [262]:
print("테스트1")
a = return_false()
b = return_true()
if a and b:
    print(True)
else:
    print(False)

테스트1
함수 return_false
함수 return_true
False

In [264]:
print("테스트2")
if return_false() and return_true():
    print(True)
else:
    print(False)

테스트2
함수 return_false
False

In [ ]:
# 단락 평가