In [1]:
list1 = [135, 462, 27, 2753, 234]

In [2]:
list1.index(27)

2

In [3]:
list1.index(50)

ValueError: 50 is not in list

In [4]:
if 50 in list1:
    list1.index(50)

In [5]:
list2 = [1,2,3] + [4,5,6]

In [6]:
list2

[1, 2, 3, 4, 5, 6]

In [7]:
list1

[135, 462, 27, 2753, 234]

In [8]:
list1.extend([9,10,11])

In [9]:
list1

[135, 462, 27, 2753, 234, 9, 10, 11]

In [10]:
list1.insert(2, 999)

In [11]:
list1

[135, 462, 999, 27, 2753, 234, 9, 10, 11]

In [12]:
list1.insert(-1, 9999)

In [13]:
list1

[135, 462, 999, 27, 2753, 234, 9, 10, 9999, 11]

In [14]:
list1[10000]

IndexError: list index out of range

In [17]:
list1.insert(10000, 555)

In [18]:
list1

[135, 462, 999, 27, 2753, 234, 9, 10, 9999, 11, 555]

In [19]:
list1.sort()

In [20]:
list1

[9, 10, 11, 27, 135, 234, 462, 555, 999, 2753, 9999]

In [21]:
list1.reverse()

In [22]:
list1

[9999, 2753, 999, 555, 462, 234, 135, 27, 11, 10, 9]

In [23]:
my_list = [1,2,3,4,5,6]

In [24]:
my_list[0]

1

In [25]:
my_list[1]

2

In [26]:
str = 'Hello World'

In [27]:
str[0]

'H'

In [28]:
str[1]

'e'

In [29]:
3 in my_list

True

In [30]:
9 in my_list

False

In [31]:
"H" in str

True

In [32]:
"Z" in str

False

In [33]:
" " in str

True

In [34]:
my_list.index(5)

4

In [35]:
str.index("r")

8

In [36]:
characters = list("abcdef")

In [37]:
characters

['a', 'b', 'c', 'd', 'e', 'f']

In [38]:
words = "Hello world는 프로그래밍을 배우기에 아주 좋은 사이트입니다."

In [39]:
words_list = words.split()

In [40]:
words_list

['Hello', 'world는', '프로그래밍을', '배우기에', '아주', '좋은', '사이트입니다.']

In [41]:
time_str = "10:35:27"

In [42]:
time_list = time_str.split(":")

In [43]:
time_list

['10', '35', '27']

In [44]:
":".join(time_list)

'10:35:27'

In [45]:
words_list

['Hello', 'world는', '프로그래밍을', '배우기에', '아주', '좋은', '사이트입니다.']

In [46]:
" ".join(words_list)

'Hello world는 프로그래밍을 배우기에 아주 좋은 사이트입니다.'

In [47]:
list = [1,2,3,4,5]

In [48]:
list[1]

2

In [49]:
text = "hello world"

In [50]:
text[1]

'e'

In [51]:
text[1:5]

'ello'

In [52]:
text[1]

'e'

In [53]:
text[5]

' '

In [54]:
text[1:5]

'ello'

In [55]:
list = ['영','일','이','삼','사','오']

In [56]:
list[1:3]

['일', '이']

In [57]:
list[1]

'일'

In [58]:
list[3]

'삼'

In [59]:
list[1:3]

['일', '이']

In [60]:
list[0:2]

['영', '일']

In [61]:
list[2:]

['이', '삼', '사', '오']

In [62]:
list[2:len(list)]

['이', '삼', '사', '오']

In [63]:
list[2]

'이'

In [64]:
list[:2]

['영', '일']

In [65]:
list[0:2]

['영', '일']

In [66]:
list[2:]

['이', '삼', '사', '오']

In [67]:
list[:]

['영', '일', '이', '삼', '사', '오']

In [68]:
list

['영', '일', '이', '삼', '사', '오']

In [69]:
list1 = [31, 346, 12616, 366, 463]

In [70]:
list2 = list1[:]

In [71]:
list2

[31, 346, 12616, 366, 463]

In [72]:
list1.sort()

In [73]:
list1

[31, 346, 366, 463, 12616]

In [74]:
list2

[31, 346, 12616, 366, 463]

In [75]:
list1.sort()

In [76]:
list1

[31, 346, 366, 463, 12616]

In [77]:
list2

[31, 346, 12616, 366, 463]

In [79]:
list1 = []
list1 = list(range(20))

TypeError: 'list' object is not callable

In [80]:
list1.clear()

In [81]:
list1 = list(range(20))

TypeError: 'list' object is not callable

In [82]:
list1 = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]

In [83]:
list1[5:15]

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [84]:
list1[5:15:2]

[5, 7, 9, 11, 13]

In [85]:
list1[5:15:3]

[5, 8, 11, 14]

In [86]:
#step!

In [87]:
list1[5:15:-1]

[]

In [89]:
list1[15:5:-1] #시작부분은 포함 끝부분은 미포함!!

[15, 14, 13, 12, 11, 10, 9, 8, 7, 6]

In [90]:
list1[14:4:-2]

[14, 12, 10, 8, 6]

In [92]:
list1[::3]

[0, 3, 6, 9, 12, 15, 18]

In [93]:
list1[::-3]

[19, 16, 13, 10, 7, 4, 1]

In [96]:
numbers = [0,1,2,3,4,5,6,7,8,9]

In [97]:
del numbers[0]

In [98]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [99]:
numbers[:5]

[1, 2, 3, 4, 5]

In [100]:
del numbers[:5]

In [101]:
numbers

[6, 7, 8, 9]

In [102]:
numbers[1:3]

[7, 8]

In [103]:
numbers[1:3] = [77, 88]

In [104]:
numbers

[6, 77, 88, 9]

In [105]:
numbers[1:3] = [77,88,99]

In [106]:
numbers

[6, 77, 88, 99, 9]

In [108]:
numbers[1:4]

[77, 88, 99]

In [110]:
numbers[1:4] = [8]

In [111]:
numbers

[6, 8, 9]

In [112]:
s = "Hello world"

In [113]:
type(s)

str

In [114]:
f = 3.14

In [115]:
type(f)

float

In [116]:
i = 42

In [117]:
type(i)

int

In [118]:
type(42.0)

float

In [119]:
42 == 42.0

True

In [120]:
isinstance(42, int)

True

In [121]:
isinstance(42, float)

False

In [122]:
isinstance(42.0, int)

False

In [123]:
isinstance(42.0, float)

True

In [124]:
type(5)

int

In [125]:
isinstance(5, float)

False

In [126]:
numbers1 = []

In [127]:
type(numbers1)

list

In [128]:
numbers2 = list(range(10))

TypeError: 'list' object is not callable

In [129]:
numbers2= [0,1,2,3,4,5,6,7,8,9]

In [130]:
characters = list("hello")

TypeError: 'list' object is not callable

In [136]:
class Human():
    '''사람'''
    
person1 = Human()
person2 = Human()

person1.language = '한국어'
person2.language = 'English'

person1.name = '서울시민'
person2.name = '인도인'

def speak(person):
    print("{}이 {}로 말을 합니다.".format(person.name, person.language))

In [134]:
print(person1.language)
print(person2.language)

한국어
English

In [137]:
speak(person1)
speak(person2)

서울시민이 한국어로 말을 합니다.
인도인이 English로 말을 합니다.

In [138]:
Human.speak = speak

In [139]:
person1.speak()
person2.speak()

서울시민이 한국어로 말을 합니다.
인도인이 English로 말을 합니다.

In [143]:
class Human():
    '''인간'''
    
person = Human()
person.name = '철수'
person.weight = 60.5

def create_human(name, weight):
    person = Human()
    person.name = name
    person.weight = weight
    return person

def eat(person):
    person.weight += 0.1
    print("{}가 먹어서 {}kg이 되었습니다.".format(person.name, person.weight))
    
def walk(person):
    person.weight -= 0.1
    print("{}가 걸어서 {}kg이 되었습니다.".format(person.name, person.weight))

In [141]:
person = create_human("철수", 60.5)

In [142]:
Human.create = create_human

In [144]:
Human.eat = eat
Human.walk = walk

In [145]:
person.walk()

철수가 걸어서 60.4kg이 되었습니다.

In [146]:
person.eat()
person.walk()

철수가 먹어서 60.5kg이 되었습니다.
철수가 걸어서 60.4kg이 되었습니다.

In [154]:
class Human():
    '''인간'''

    def create(name, weight):
        person = Human()
        person.name = name
        person.weight = weight
        return person

    def eat(self):
        self.weight += 0.1
        print("{}가 먹어서 {}kg이 되었습니다.".format(self.name, self.weight))

    def walk(self):
        self.weight -= 0.1
        print("{}가 걸어서 {}kg이 되었습니다.".format(self.name, self.weight))

    def speak(self, message):
        print(message)

person = Human.create('철수', 60.5)

person.speak("안녕하세요.")

안녕하세요.

In [150]:
eat()

TypeError: eat() missing 1 required positional argument: 'person'

In [151]:
person.eat()

철수가 먹어서 60.5kg이 되었습니다.

In [172]:
class Human():
    '''인간'''
    def __init__(self, name, weight):
        '''초기화 함수'''
        # print("__init__ 실행")
        self.name = name
        self.weight = weight
        # print("이름은 {}, 몸무게는 {}".format(name, weight))

    def __str__(self):
        '''문자열화 함수'''
        return "{} (몸무게 {}kg)".format(self.name, self.weight)


    def eat(self):
        self.weight += 0.1
        print("{}가 먹어서 {}kg이 되었습니다.".format(self.name, self.weight))

    def walk(self):
        self.weight -= 0.1
        print("{}가 걸어서 {}kg이 되었습니다.".format(self.name, self.weight))

In [173]:
person = Human("사람", 60.5)

print(person)

사람 (몸무게 60.5kg)

In [180]:
# 상속(inherit)

class Animal():
    def eat(self):
        print("먹는다")

    def walk(self):
        print("걷는다")


class Human(Animal):

    def wave(self):
        print("손을 흔든다")

class Dog(Animal):

    def wag(self):
        print("꼬리를 흔든다")

In [178]:
person = Human()
person.walk()
person.eat()
person.wave()

dog = Dog()
dog.walk()
dog.eat()
dog.wag()

걷는다
먹는다
손을 흔든다
걷는다
먹는다
꼬리를 흔든다

In [187]:

class Animal():
    def eat(self):
        print("먹는다")

    def walk(self):
        print("걷는다")

    def greet(self):
        print("인사한다")

class Cow(Animal):
    '''소'''


class Human(Animal):

    def wave(self):
        print("손을 흔든다")

    def greet(self):
        self.wave()



class Dog(Animal):

    def wag(self):
        print("꼬리를 흔든다")
    def greet(self):
        self.wag()

In [186]:
person = Human()
person.greet()

dog = Dog()
dog.greet()

손을 흔든다
꼬리를 흔든다

In [188]:
cow = Cow()
cow.greet()

인사한다

In [198]:

class Animal():
    def __init__(self, name):
        self.name = name
    def eat(self):
        print("먹는다")

    def walk(self):
        print("걷는다")

    def greet(self):
        print("{}이/가 인사한다.".format(self.name))


class Human(Animal):
    def __init__(self, name, hand):
        super().__init__(name)
        self.hand = hand
        
    def wave(self):
        print("{}을 흔들면서".format(self.hand))

    def greet(self):
        self.wave()
        super().greet()

In [195]:
person=Human()
person.greet()

TypeError: __init__() missing 1 required positional argument: 'name'

In [197]:
person = Human("사람")
person.greet()

손을 흔들면서
사람이/가 인사한다.

In [200]:
person = Human("사람","오른손")
person.greet()

오른손을 흔들면서
사람이/가 인사한다.

In [201]:
value = '가'
try:
    if value not in ['가위','바위','보']:
        raise ValueError("가위바위보 중에 하나의 값이어야 합니다.")
except ValueError:
    print("에러가 발생했습니다.")

에러가 발생했습니다.

In [202]:
class UnexpectedRSPValue(Exception):
    '''가위 바위 보 중에 가운데 하나가 아닌 값인 경우에 발생하는 에러'''

In [205]:
def sign_up():
    '''회원가입 함수'''



try:
    sign_up()
except BadUserName:
    print("이름으로 사용할 수 없는 입력입니다.")
except PasswordNotMatched:
    print("입력한 패스워드가 서로 일치하지 않습니다.")

In [209]:
areas = []
for i in range(1,11):
    if i%2 ==0:
        areas = areas + [i*i]
print("areas1:",areas)

areas1: [4, 16, 36, 64, 100]

In [210]:
areas2 = [ i*i for i in range(1,11) if i%2 == 0 ]
print("areas2:", areas2)

areas2: [4, 16, 36, 64, 100]

In [212]:
[(x,y) for x in range(5) for y in range(5)]

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4)]

In [213]:
students = ["태연","진우","정현","하늘","성진"]

In [214]:
for number, name in enumerate(students):
    print("{}번의 이름은 {}입니다.".format(number, name))

0번의 이름은 태연입니다.
1번의 이름은 진우입니다.
2번의 이름은 정현입니다.
3번의 이름은 하늘입니다.
4번의 이름은 성진입니다.

In [215]:
students_dict = { "{}번".format(number + 1): name for number, name in enumerate(students)}

In [216]:
students_dict

{'1번': '태연', '2번': '진우', '3번': '정현', '4번': '하늘', '5번': '성진'}

In [217]:
scores = [85, 92, 78, 90, 100]

In [218]:
students

['태연', '진우', '정현', '하늘', '성진']

In [219]:
for x, y in zip(students, scores):
    print(x,y)

태연 85
진우 92
정현 78
하늘 90
성진 100

In [220]:
score_dic = {student : score for student, score in zip(students, scores)}

In [221]:
score_dic

{'태연': 85, '진우': 92, '정현': 78, '하늘': 90, '성진': 100}

In [222]:
import datetime

In [223]:
datetime.datetime.now()

datetime.datetime(2023, 1, 26, 15, 39, 57, 851785)

In [224]:
start_time = datetime.datetime.now()

In [225]:
type(start_time)

datetime.datetime

In [226]:
start_time.replace(year = 2017, month = 2, day = 1)

datetime.datetime(2017, 2, 1, 15, 40, 18, 266861)

In [227]:
start_time = start_time.replace(year = 2017, month = 2, day = 1)

In [228]:
start_time

datetime.datetime(2017, 2, 1, 15, 40, 18, 266861)

In [237]:
start_time = datetime.datetime(2023,2,28)

In [238]:
start_time

datetime.datetime(2023, 2, 28, 0, 0)

In [239]:
how_long = start_time - datetime.datetime.now()

In [240]:
type(how_long)

datetime.timedelta

In [241]:
how_long.days

32

In [242]:
how_long.seconds

29814

In [243]:
"2월 28일까지는 {}일 {}시간이 남았습니다.".format(how_long.days, how_long.seconds//3600)

'2월 28일까지는 32일 8시간이 남았습니다.'

In [244]:
import datetime

In [245]:
hundred = datetime.timedelta(days = 100)

In [248]:
datetime.datetime.now() + hundred

datetime.datetime(2023, 5, 6, 15, 50, 41, 735347)

In [249]:
hundred_before = datetime.timedelta(days = -100)

In [250]:
datetime.datetime.now() + hundred_before

datetime.datetime(2022, 10, 18, 16, 11, 49, 658257)

In [251]:
datetime.datetime.now() - hundred

datetime.datetime(2022, 10, 18, 16, 12, 12, 949943)

In [252]:
tomorrow = datetime.datetime.now().replace(hour = 9, minute = 0, second = 0) + datetime.timedelta(days = 1)

In [253]:
tomorrow

datetime.datetime(2023, 1, 27, 9, 0, 0, 284168)