In [1]:
import pandas as pd
import numpy as np

In [2]:
sales = pd.read_csv('../../221031/sales.csv')

In [ ]:
sales.info()

In [ ]:
sales.head(1)

In [ ]:
len(sales['shop_id'].unique()) #판매장소의 수

In [ ]:
sales.value_counts(['item_id']) #물품당 판매량

In [ ]:
len(sales['item_id'].unique()) #판매물품 종류의 개수

In [ ]:
sales[sales['item_price'] <0]

In [3]:
sales1=sales.drop(sales[sales['item_price'] <0].index)

In [ ]:
sales[sales['shop_id']==59].index

In [ ]:
sales1[sales1['item_cnt_day'] <= 0]

In [4]:
sales2=sales1.drop(sales1[sales1['item_cnt_day'] <= 0].index)

In [ ]:
sales2

In [ ]:
sales.iloc[0]['date'].split('.')[0]

In [ ]:
len(sales)

In [ ]:
type(sales)

sales['day'] = sales['date']

sales['month']=sales['date']

sales['year']=sales['date']

for i in range(len(sales)):
    sales['day'][i] = sales.iloc[i]['date'].split('.')[0]
    sales['month'][i] = sales.iloc[i]['date'].split('.')[1]
    sales['year'][i] = sales.iloc[i]['date'].split('.')[2]

In [ ]:
sales.head(1)

In [5]:
sales2['income'] = sales2['item_price'] *sales2['item_cnt_day']

In [6]:
sales2['income']

0           999.00
1           899.00
3          1709.05
4          1099.00
5           349.00
            ...
2935844     299.00
2935845     299.00
2935846     349.00
2935847     299.00
2935848     299.00
Name: income, Length: 2928492, dtype: float64

In [7]:
pd.to_datetime(sales2['date'], format = '%d.%m.%Y')

0         2013-01-02
1         2013-01-03
3         2013-01-06
4         2013-01-15
5         2013-01-10
             ...
2935844   2015-10-10
2935845   2015-10-09
2935846   2015-10-14
2935847   2015-10-22
2935848   2015-10-03
Name: date, Length: 2928492, dtype: datetime64[ns]

In [8]:
sales2[['day','month','year']]= sales2['date'].str.split('.', expand = True)

In [9]:
sales2['date']

0          02.01.2013
1          03.01.2013
3          06.01.2013
4          15.01.2013
5          10.01.2013
              ...
2935844    10.10.2015
2935845    09.10.2015
2935846    14.10.2015
2935847    22.10.2015
2935848    03.10.2015
Name: date, Length: 2928492, dtype: object

In [ ]:
sales2.head(1)

In [10]:
sales2['y_m'] = sales2['year'] + '.' + sales2['month']

In [11]:
sales2['m_d'] = sales2['month'] + '.' + sales2['day']

In [ ]:
sales2.head(1)

In [12]:
sales=sales2

In [ ]:
sales['year'].value_counts()

In [ ]:
sales['month'].value_counts().sort_index()

In [ ]:
sales10=sales['day'].value_counts().sort_index()

In [ ]:
sales10=sales10.reset_index()

In [ ]:
sales10

In [ ]:
import seaborn as sns

In [ ]:
sns.lineplot(data=sales10 ,x ='index',y='day')

In [13]:
sales

,date,shop_id,item_id,item_price,item_cnt_day,income,day,month,year,y_m,m_d
0,02.01.2013,59,22154,999.00,1.0,999.00,02,01,2013,2013.01,01.02
1,03.01.2013,25,2552,899.00,1.0,899.00,03,01,2013,2013.01,01.03
3,06.01.2013,25,2554,1709.05,1.0,1709.05,06,01,2013,2013.01,01.06
4,15.01.2013,25,2555,1099.00,1.0,1099.00,15,01,2013,2013.01,01.15
5,10.01.2013,25,2564,349.00,1.0,349.00,10,01,2013,2013.01,01.10
...,...,...,...,...,...,...,...,...,...,...,...
2935844,10.10.2015,25,7409,299.00,1.0,299.00,10,10,2015,2015.10,10.10
2935845,09.10.2015,25,7460,299.00,1.0,299.00,09,10,2015,2015.10,10.09
2935846,14.10.2015,25,7459,349.00,1.0,349.00,14,10,2015,2015.10,10.14
2935847,22.10.2015,25,7440,299.00,1.0,299.00,22,10,2015,2015.10,10.22
2935848,03.10.2015,25,7460,299.00,1.0,299.00,03,10,2015,2015.10,10.03

In [19]:
sales3 =sales2[(sales2['month']!=11) & (sales2['month']!=12)]

In [20]:
item_cnt_year_not1112 = sales3.groupby('year')['item_cnt_day'].sum()

In [21]:
item_cnt_year_not1112

year
2013    1565896.0
2014    1323594.0
2015     766256.0
Name: item_cnt_day, dtype: float64

In [ ]:
sales1['item_cnt_day'].value_counts()

In [ ]:
sales2

In [22]:
sales.columns

Index(['date', 'shop_id', 'item_id', 'item_price', 'item_cnt_day', 'income',
       'day', 'month', 'year', 'y_m', 'm_d'],
      dtype='object')