# 17. 데이터프레임 멀티인덱스와 멀티컬럼

## 181~190

In [1]:
import pandas as pd

data = [
    ['Multiples', 'PER', 21.09, 13.55],
    ['Multiples', 'PBR', 2.06, 1.80],
    ['Dividends', 'DPS', 2944, 1444],
    ['Dividends', '배당성향', 78, 25]
]
columns = ['Category', 'Factor', 2020, 2021]
df = pd.DataFrame(data, columns=columns)
df

    Category Factor     2020     2021
0  Multiples    PER    21.09    13.55
1  Multiples    PBR     2.06     1.80
2  Dividends    DPS  2944.00  1444.00
3  Dividends   배당성향    78.00    25.00

In [2]:
df.set_index(['Category','Factor'])

                     2020     2021
Category  Factor
Multiples PER       21.09    13.55
          PBR        2.06     1.80
Dividends DPS     2944.00  1444.00
          배당성향      78.00    25.00

In [3]:
import pandas as pd

tuples = [
    ('Multiples', 'PER'),
    ('Multiples', 'PBR'),
    ('Dividends', 'DPS'),
    ('Dividends', '배당성향')
]

In [4]:
df

    Category Factor     2020     2021
0  Multiples    PER    21.09    13.55
1  Multiples    PBR     2.06     1.80
2  Dividends    DPS  2944.00  1444.00
3  Dividends   배당성향    78.00    25.00

In [6]:
index = pd.MultiIndex.from_tuples(tuples, names=['Category', 'Factor'])

In [7]:
df

    Category Factor     2020     2021
0  Multiples    PER    21.09    13.55
1  Multiples    PBR     2.06     1.80
2  Dividends    DPS  2944.00  1444.00
3  Dividends   배당성향    78.00    25.00

In [8]:
arrays = [
    ['Mutiples', 'Multiples', 'Dividends', 'Dividends'],
    ['PER', 'PBR', 'DPS', '배당성향']
]

In [9]:
index = pd.MultiIndex.from_arrays(arrays, names=['Category', 'Factor'])

In [10]:
df

    Category Factor     2020     2021
0  Multiples    PER    21.09    13.55
1  Multiples    PBR     2.06     1.80
2  Dividends    DPS  2944.00  1444.00
3  Dividends   배당성향    78.00    25.00

In [11]:
tuples = [
    ('Multiples', 'PER'),
    ('Multiples', 'PBR'),
    ('Dividends', 'DPS'),
    ('Dividends', '배당성향')
]


data = [
    [21.09, 13.55],
    [2.06, 1.80],
    [2944, 1444],
    [78, 25]
]

columns = [2020, 2021]

In [14]:
index = pd.MultiIndex.from_tuples(tuples, names=['Category', 'Factor'])

In [15]:
index

MultiIndex([('Multiples',  'PER'),
            ('Multiples',  'PBR'),
            ('Dividends',  'DPS'),
            ('Dividends', '배당성향')],
           names=['Category', 'Factor'])

In [16]:
df = pd.DataFrame(data=data, index=index, columns=columns)

In [17]:
df

                     2020     2021
Category  Factor
Multiples PER       21.09    13.55
          PBR        2.06     1.80
Dividends DPS     2944.00  1444.00
          배당성향      78.00    25.00

In [18]:
df.loc['Multiples']

         2020   2021
Factor
PER     21.09  13.55
PBR      2.06   1.80

In [19]:
df

                     2020     2021
Category  Factor
Multiples PER       21.09    13.55
          PBR        2.06     1.80
Dividends DPS     2944.00  1444.00
          배당성향      78.00    25.00

In [28]:
df.loc[('Multiples','PER')]

2020    21.09
2021    13.55
Name: (Multiples, PER), dtype: float64

In [33]:
df

                     2020     2021
Category  Factor
Multiples PER       21.09    13.55
          PBR        2.06     1.80
Dividends DPS     2944.00  1444.00
          배당성향      78.00    25.00

In [36]:
df.loc['Multiples'].loc[['PER']]

         2020   2021
Factor
PER     21.09  13.55

In [38]:
df.iloc[[0]]

                   2020   2021
Category  Factor
Multiples PER     21.09  13.55

In [39]:
df.loc[('Multiples','PER'), 2020]

21.09

In [40]:
df

                     2020     2021
Category  Factor
Multiples PER       21.09    13.55
          PBR        2.06     1.80
Dividends DPS     2944.00  1444.00
          배당성향      78.00    25.00

In [42]:
df.sort_index()

                     2020     2021
Category  Factor
Dividends DPS     2944.00  1444.00
          배당성향      78.00    25.00
Multiples PBR        2.06     1.80
          PER       21.09    13.55

## 191~200

In [70]:
data = [
    [100, 900, 800, 700],
    [1200, 1400, 900, 800]]
columns = ['컨센서스', '잠정치', '컨센서스', '잠정치']
df = pd.DataFrame(data, columns=columns)
df

   컨센서스   잠정치  컨센서스  잠정치
0   100   900   800  700
1  1200  1400   900  800

In [ ]:
df[("영업이익", "컨센서스")]

In [ ]:
df.loc["2020/06", ("영업이익", "컨센서스")]

In [72]:
before = [
    ('영업이익', '영업이익', '당기순이익', '당기순이익'), 
    ('컨센서스', '잠정치', '컨센서스', '잠정치')
]

after = [
    ('영업이익', '컨센서스'), 
    ('영업이익', '잠정치'), 
    ('당기순이익', '컨센서스'), 
    ('당기순이익', '잠정치')
]

In [81]:
after= list(zip(*before))

In [82]:
after

[('영업이익', '컨센서스'), ('영업이익', '잠정치'), ('당기순이익', '컨센서스'), ('당기순이익', '잠정치')]

In [83]:
before = list(zip(*after))

In [84]:
before

[('영업이익', '영업이익', '당기순이익', '당기순이익'), ('컨센서스', '잠정치', '컨센서스', '잠정치')]

In [85]:
df.loc[:, (slice(None), '컨센서스')]

TypeError: unhashable type: 'slice'

In [ ]:
df['영업이익']

In [ ]:
df.iloc[:,[1,3]]

In [86]:
df.T

        0     1
컨센서스  100  1200
잠정치   900  1400
컨센서스  800   900
잠정치   700   800

# 18. DataFrame reshaping

## 201~210

In [87]:
import pandas as pd
from datetime import datetime

data = {
    'Date': [datetime(2020, 12, 1), datetime(2021, 12, 1)],
    '삼성전자': [21.09, 13.55],
    '카카오': [221.53, 35.92],
    'NAVER': [47.97, 3.77],
    'SK하이닉스': [18.14, 9.93],
    '현대차': [37.33, 11.71]
}

df = pd.DataFrame(data=data)

In [88]:
df

        Date   삼성전자     카카오  NAVER  SK하이닉스    현대차
0 2020-12-01  21.09  221.53  47.97   18.14  37.33
1 2021-12-01  13.55   35.92   3.77    9.93  11.71

In [89]:
df.T

                          0                    1
Date    2020-12-01 00:00:00  2021-12-01 00:00:00
삼성전자                  21.09                13.55
카카오                  221.53                35.92
NAVER                 47.97                 3.77
SK하이닉스                18.14                 9.93
현대차                   37.33                11.71

In [90]:
df

        Date   삼성전자     카카오  NAVER  SK하이닉스    현대차
0 2020-12-01  21.09  221.53  47.97   18.14  37.33
1 2021-12-01  13.55   35.92   3.77    9.93  11.71

In [91]:
df2 = pd.melt(df, id_vars=['Date'], var_name='종목명', value_name='PER')

In [92]:
df2

        Date     종목명     PER
0 2020-12-01    삼성전자   21.09
1 2021-12-01    삼성전자   13.55
2 2020-12-01     카카오  221.53
3 2021-12-01     카카오   35.92
4 2020-12-01   NAVER   47.97
5 2021-12-01   NAVER    3.77
6 2020-12-01  SK하이닉스   18.14
7 2021-12-01  SK하이닉스    9.93
8 2020-12-01     현대차   37.33
9 2021-12-01     현대차   11.71

In [93]:
df

        Date   삼성전자     카카오  NAVER  SK하이닉스    현대차
0 2020-12-01  21.09  221.53  47.97   18.14  37.33
1 2021-12-01  13.55   35.92   3.77    9.93  11.71

In [94]:

data = [
    ["2021-08-12", "삼성전자", 77000],
    ["2021-08-13", "삼성전자", 74400],
    ["2021-08-12", "LG전자", 153000],
    ["2021-08-13", "LG전자", 150500],
    ["2021-08-12", "SK하이닉스", 100500],
    ["2021-08-13", "SK하이닉스", 101500]
]
columns = ["날짜", "종목명", "종가"]
df = pd.DataFrame(data=data, columns=columns)

In [95]:
df

           날짜     종목명      종가
0  2021-08-12    삼성전자   77000
1  2021-08-13    삼성전자   74400
2  2021-08-12    LG전자  153000
3  2021-08-13    LG전자  150500
4  2021-08-12  SK하이닉스  100500
5  2021-08-13  SK하이닉스  101500

In [96]:
pivoted = pd.pivot(df, index='날짜', columns ='종목명', values='종가')

In [97]:
pivoted

종목명           LG전자  SK하이닉스   삼성전자
날짜
2021-08-12  153000  100500  77000
2021-08-13  150500  101500  74400

In [99]:
pivoted.T

날짜      2021-08-12  2021-08-13
종목명
LG전자        153000      150500
SK하이닉스      100500      101500
삼성전자         77000       74400

In [100]:

arrays = [
    ['영업이익', '영업이익', '당기순이익', '당기순이익'],
    ['컨센서스', '잠정치', '컨센서스', '잠정치']
]

columns = pd.MultiIndex.from_arrays(arrays)
index = [datetime(2020, 6, 1), datetime(2020, 9, 1)]
data = [
    [100, 900, 800, 700],
    [1200, 1400, 900, 800]
]
df = pd.DataFrame(data=data, index=index, columns=columns)

In [101]:
df

            영업이익       당기순이익
            컨센서스   잠정치  컨센서스  잠정치
2020-06-01   100   900   800  700
2020-09-01  1200  1400   900  800

In [102]:
stacked = df.stack()

In [103]:
stacked

                 당기순이익  영업이익
2020-06-01 잠정치     700   900
           컨센서스    800   100
2020-09-01 잠정치     800  1400
           컨센서스    900  1200

In [113]:
df.stack(level=0)

                   잠정치  컨센서스
2020-06-01 당기순이익   700   800
           영업이익    900   100
2020-09-01 당기순이익   800   900
           영업이익   1400  1200

In [115]:
stacked.unstack()

           당기순이익       영업이익
             잠정치 컨센서스   잠정치  컨센서스
2020-06-01   700  800   900   100
2020-09-01   800  900  1400  1200

In [117]:
import numpy as np
arr = np.array([1, 7, 5, 4, 6, 3])

In [118]:
arr

array([1, 7, 5, 4, 6, 3])

In [119]:
pd.cut(arr, 3)

[(0.994, 3.0], (5.0, 7.0], (3.0, 5.0], (3.0, 5.0], (5.0, 7.0], (0.994, 3.0]]
Categories (3, interval[float64, right]): [(0.994, 3.0] < (3.0, 5.0] < (5.0, 7.0]]

In [122]:
pd.cut(arr, 3, labels=["bad", "medium", "good"])

['bad', 'good', 'medium', 'medium', 'good', 'bad']
Categories (3, object): ['bad' < 'medium' < 'good']

In [123]:
scores = [90, 55, 73, 87, 80, 66, 40, 100]
s = pd.Series(scores)

In [124]:
s

0     90
1     55
2     73
3     87
4     80
5     66
6     40
7    100
dtype: int64

In [126]:
pd.cut(s, bins=[0,60,70,80,90,101], right=False, labels=['가','양','미','우','수'])

0    수
1    가
2    미
3    우
4    우
5    양
6    가
7    수
dtype: category
Categories (5, object): ['가' < '양' < '미' < '우' < '수']